flows_openHABianPi.json
[{"id":"c40739c4.c82958","type":"tab","label":"OpenHab Rules","disabled":false,"info":""},{"id":"7e8f8eaf.f9e88","type":"tab","label":"Charts","disabled":false,"info":""},{"id":"5409cc4e.c3ab64","type":"tab","label":"Harmony","disabled":false,"info":""},{"id":"a30c4f0a.3af8b","type":"tab","label":"Astronomy","disabled":false,"info":""},{"id":"fc1fd059.da358","type":"tab","label":"Scrolling text ","disabled":true,"info":""},{"id":"c7cf9fd7.82b16","type":"openhab2-controller","z":"","name":"OpenHabPi","protocol":"http","host":"localhost","port":"8080","path":"","username":"openhabian","password":"zenguru5!!"},{"id":"6a8659aa.eab2f8","type":"ui_group","z":"","name":"openhab","tab":"2ccc7703.df0308","disp":true,"width":"6","collapse":false},{"id":"2ccc7703.df0308","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"aebc19d2.3d6c88","type":"ui_group","z":"","name":"Sun and Moon","tab":"2ccc7703.df0308","disp":true,"width":"6","collapse":false},{"id":"1f5c2f3b.38a5c1","type":"harmony-server","z":"","name":"harmony","ip":"192.168.0.143"},{"id":"902a7844.040238","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a981af94.c72be","type":"ui_group","z":"","name":"Humidity","tab":"2ccc7703.df0308","disp":true,"width":"12","collapse":false},{"id":"f91e95d4.c06308","type":"ui_group","z":"","name":"Charts","tab":"8380c1d1.5718","order":2,"disp":false,"width":"6"},{"id":"52f9c56e.e6b50c","type":"ui_group","z":"","name":"Inputs","tab":"8380c1d1.5718","order":1,"disp":false,"width":"6"},{"id":"39147d26.addc72","type":"ui_group","z":"","name":"Group 3","tab":"8380c1d1.5718","order":3,"disp":false,"width":"6"},{"id":"8380c1d1.5718","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"7d61d6aa.8fe2c8","type":"alexa-remote-account","z":"","name":"","authMethod":"proxy","proxyOwnIp":"openhabianpi","proxyPort":"3456","cookieFile":"","refreshInterval":"","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"a91e407e.1d351","type":"ui_group","z":"","name":"LAB","tab":"4489d223.cc477c","order":3,"disp":false,"width":"6","collapse":false},{"id":"4489d223.cc477c","type":"ui_tab","z":"","name":"Table","icon":"dashboard"},{"id":"3117b6aa.e43d1a","type":"ui_group","z":"","name":"Test Messages","tab":"3191bb5f.330344","disp":true,"width":"9","collapse":false},{"id":"3191bb5f.330344","type":"ui_tab","z":"","name":"Demo","icon":"dashboard"},{"id":"e98be045.f62d8","type":"ui_text","z":"c40739c4.c82958","group":"6a8659aa.eab2f8","order":1,"width":0,"height":0,"name":"","label":"alarm","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":100,"wires":[]},{"id":"28a5261c.acb82a","type":"ui_text","z":"c40739c4.c82958","group":"6a8659aa.eab2f8","order":1,"width":0,"height":0,"name":"","label":"bedroom motion","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":979,"y":696.888916015625,"wires":[]},{"id":"e42fa664.97ebf8","type":"stoptimer","z":"c40739c4.c82958","duration":"600","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":530,"y":840,"wires":[["af66edba.cda6e","2b0fa156.2836be","89b31170.2114b"],[]]},{"id":"e42064d8.a9cf38","type":"switch","z":"c40739c4.c82958","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":740,"wires":[["af66edba.cda6e","e42fa664.97ebf8","2b0fa156.2836be","89b31170.2114b"],["e42fa664.97ebf8"]]},{"id":"d14b18b2.734728","type":"change","z":"c40739c4.c82958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Ground Floor Motion set to \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[["9c76b955.f18058","29815686.d92d9a"]]},{"id":"f71c6bc6.1f26f8","type":"ui_text","z":"c40739c4.c82958","group":"6a8659aa.eab2f8","order":1,"width":0,"height":0,"name":"","label":"Harmony Hub  State","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":990,"y":900,"wires":[]},{"id":"37b5de08.03a6e2","type":"function","z":"c40739c4.c82958","name":"set global Home / Away","func":"var HomeState=global.get('gHome') || \"AWAY\";\nHomeState = msg.payload;\nglobal.set('gHome',HomeState);\nnode.status({fill:\"green\",shape:\"ring\",text:\"state: \"+HomeState});\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":20,"wires":[[]]},{"id":"1058784.579ea88","type":"change","z":"c40739c4.c82958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Kitchen door is \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":320,"wires":[["9c76b955.f18058","29815686.d92d9a"]]},{"id":"9c76b955.f18058","type":"function","z":"c40739c4.c82958","name":"Drop Voice if Home","func":"var HomeState=global.get('gHome') ;\n\nif (HomeState == \"HOME\")\n   {\n       msg.payload =\"\";\n       node.status({fill:\"red\",shape:\"ring\",text:\"Voice Messages off\"});\n   }\nelse\n   {\n       node.status({fill:\"green\",shape:\"dot\",text:\"Voice Messages ON  \" + HomeState});\n   }\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":320,"wires":[["3254434d.815c6c","d311db63.2385a8","e2d75895.2999c8"]]},{"id":"4003126e.c695bc","type":"H observe","z":"5409cc4e.c3ab64","name":"","server":"1f5c2f3b.38a5c1","x":203.00000762939453,"y":84.99999809265137,"wires":[["32f8d65d.be700a"]]},{"id":"ce86852.08c3a78","type":"ui_dropdown","z":"c40739c4.c82958","name":"","label":"Home State","tooltip":"","place":"Select option","group":"6a8659aa.eab2f8","order":3,"width":0,"height":0,"passthru":false,"options":[{"label":"HOME","value":"HOME","type":"str"},{"label":"AWAY","value":"AWAY","type":"str"},{"label":"NIGHT","value":"NIGHT","type":"str"}],"payload":"","topic":"","x":970,"y":80,"wires":[[]]},{"id":"8cdd2140.a37a","type":"ui_text","z":"c40739c4.c82958","group":"a981af94.c72be","order":3,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":624.9999618530273,"y":1526.9999656677246,"wires":[]},{"id":"2b5e67f5.965198","type":"ui_slider","z":"c40739c4.c82958","name":"HumTarget","label":"Humidity Target","tooltip":"","group":"a981af94.c72be","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"40","max":"70","step":1,"x":310,"y":1320,"wires":[["c29684c1.50b0d8"]]},{"id":"1ac688d6.11ff37","type":"ui_text","z":"c40739c4.c82958","group":"a981af94.c72be","order":4,"width":0,"height":0,"name":"","label":"Humidity Target","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":870,"y":1318.0000772476196,"wires":[]},{"id":"cabd3d17.1f847","type":"inject","z":"c40739c4.c82958","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1580,"wires":[["389088e0.35c058","f7d4ef32.165d9","5eea1cad.e0bc54","19a7d8a0.a15587"]]},{"id":"68a24b72.4a8b24","type":"switch","z":"c40739c4.c82958","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"gHum","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":741.9999618530273,"y":1590.666711807251,"wires":[["459336b1.ebfa48"],["3083c9b7.930456"]]},{"id":"c29684c1.50b0d8","type":"function","z":"c40739c4.c82958","name":"set global Humidity","func":"var HumTarget=global.get('gHum') || 55;\nHumTarget = msg.payload;\nmsg.topic = \"Target\";\nmsg.label = \"Target\"\nglobal.set('gHum',HumTarget);\nnode.status({fill:\"green\",shape:\"rinmg\",text:\"state: \"+HumTarget});\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":1319.0000772476196,"wires":[["1ac688d6.11ff37"]]},{"id":"459336b1.ebfa48","type":"change","z":"c40739c4.c82958","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":884.4444618225098,"y":1568.5554866790771,"wires":[["c7b4e601.740cd8","af57f9a2.9b9318"]]},{"id":"3083c9b7.930456","type":"change","z":"c40739c4.c82958","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":882.9999580383301,"y":1617.6666240692139,"wires":[["c7b4e601.740cd8","af57f9a2.9b9318"]]},{"id":"d8fb5eb3.3ec7c","type":"change","z":"c40739c4.c82958","name":"Convert to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":221,"y":1738,"wires":[["68a24b72.4a8b24","7552bb2.5a06644","8cdd2140.a37a","333ba82f.62ebf8"]]},{"id":"9dcdfd8c.80628","type":"inject","z":"c40739c4.c82958","name":"","topic":"","payload":"45","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":102.01155090332031,"y":1320.0649824142456,"wires":[["2b5e67f5.965198"]]},{"id":"fd03f6c7.8e1818","type":"ui_text","z":"c40739c4.c82958","group":"a981af94.c72be","order":5,"width":0,"height":0,"name":"","label":"dehumidifier","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":1250,"y":1480,"wires":[]},{"id":"a95c9dba.56119","type":"ui_chart","z":"c40739c4.c82958","name":"","group":"a981af94.c72be","order":6,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":877.138801574707,"y":1691.9605731964111,"wires":[[]]},{"id":"9033ea55.bde3a8","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":365,"wires":[["5f78069a.36d1b8","ba1e73bb.e0afc","f87a9fb0.f29f2","978a2552.41b0e8"]]},{"id":"5f78069a.36d1b8","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"f91e95d4.c06308","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":577.0115661621094,"y":105,"wires":[[],[]]},{"id":"5471fb37.206e94","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":307.0115661621094,"y":205,"wires":[["5f78069a.36d1b8"]]},{"id":"33a2dc72.22a5b4","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":167.01156616210938,"y":205,"wires":[["5471fb37.206e94"]]},{"id":"ba1e73bb.e0afc","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"f91e95d4.c06308","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":577.0115661621094,"y":165,"wires":[[],[]]},{"id":"c38de894.9e7968","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":5,"width":0,"height":0,"passthru":false,"label":"array","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":147.01156616210938,"y":365,"wires":[["9033ea55.bde3a8"]]},{"id":"99798bc2.3ade98","type":"random","z":"7e8f8eaf.f9e88","name":"","low":"1","high":"10000000","inte":"true","x":337.0115661621094,"y":565,"wires":[["5f78069a.36d1b8"]]},{"id":"749d2bc.73ef8d4","type":"inject","z":"7e8f8eaf.f9e88","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":167.01156616210938,"y":565,"wires":[["99798bc2.3ade98"]]},{"id":"b82c044c.7ff848","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":405,"wires":[["5f78069a.36d1b8","ba1e73bb.e0afc","f87a9fb0.f29f2","978a2552.41b0e8"]]},{"id":"71085d9d.6aa184","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":6,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":147.01156616210938,"y":405,"wires":[["b82c044c.7ff848"]]},{"id":"45c279b.ebd9588","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":307.0115661621094,"y":245,"wires":[["5f78069a.36d1b8"]]},{"id":"e061612a.89e1a","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":167.01156616210938,"y":245,"wires":[["45c279b.ebd9588"]]},{"id":"df07c676.96ddf8","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":327.0115661621094,"y":605,"wires":[["978a2552.41b0e8","ba1e73bb.e0afc","5f78069a.36d1b8","9848d404.2a43e8","26cc088e.d619f8","f87a9fb0.f29f2"]]},{"id":"978a2552.41b0e8","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"pie chart","group":"f91e95d4.c06308","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":617.0115661621094,"y":345,"wires":[[],[]]},{"id":"9ee37dad.3e925","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":10,"width":0,"height":0,"passthru":false,"label":"array for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":167.01156616210938,"y":605,"wires":[["df07c676.96ddf8"]]},{"id":"966ccf3e.74b9d","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":307.0115661621094,"y":285,"wires":[["5f78069a.36d1b8"]]},{"id":"4dd3ba8b.6a4534","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":167.01156616210938,"y":285,"wires":[["966ccf3e.74b9d"]]},{"id":"d3572e11.fd15a","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":307.0115661621094,"y":325,"wires":[["5f78069a.36d1b8"]]},{"id":"3aa23f49.1327","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":167.01156616210938,"y":325,"wires":[["d3572e11.fd15a"]]},{"id":"1d4edbea.5a2da4","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":525,"wires":[["5f78069a.36d1b8","ba1e73bb.e0afc","978a2552.41b0e8","9848d404.2a43e8","26cc088e.d619f8","f87a9fb0.f29f2"]]},{"id":"439122c9.b81a0c","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":9,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":157.01156616210938,"y":525,"wires":[["1d4edbea.5a2da4"]]},{"id":"636b4e7c.05c4f","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":11,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":177.01156616210938,"y":645,"wires":[["bc326d39.d3f16"]]},{"id":"bc326d39.d3f16","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":327.0115661621094,"y":645,"wires":[["978a2552.41b0e8","ba1e73bb.e0afc","26cc088e.d619f8","9848d404.2a43e8","5f78069a.36d1b8","f87a9fb0.f29f2"]]},{"id":"a312f8f8.f45578","type":"function","z":"7e8f8eaf.f9e88","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":307.0115661621094,"y":165,"wires":[["ba1e73bb.e0afc","978a2552.41b0e8","5f78069a.36d1b8","f87a9fb0.f29f2","b4cdfc73.a1acf"]]},{"id":"76a6fed3.96225","type":"inject","z":"7e8f8eaf.f9e88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.01156616210938,"y":165,"wires":[["a312f8f8.f45578"]]},{"id":"87a8d8a4.b1bfb8","type":"function","z":"7e8f8eaf.f9e88","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":307.0115661621094,"y":125,"wires":[["ba1e73bb.e0afc","978a2552.41b0e8","5f78069a.36d1b8","f87a9fb0.f29f2"]]},{"id":"5cf5e15c.9a893","type":"inject","z":"7e8f8eaf.f9e88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.01156616210938,"y":125,"wires":[["87a8d8a4.b1bfb8"]]},{"id":"c7fa7239.86528","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":445,"wires":[["ba1e73bb.e0afc","9848d404.2a43e8","26cc088e.d619f8","5f78069a.36d1b8","f87a9fb0.f29f2","978a2552.41b0e8"]]},{"id":"bd5fbc4c.e3657","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":7,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":157.01156616210938,"y":445,"wires":[["c7fa7239.86528"]]},{"id":"41dc4277.b186ac","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":485,"wires":[["ba1e73bb.e0afc","5f78069a.36d1b8","26cc088e.d619f8","9848d404.2a43e8","f87a9fb0.f29f2","978a2552.41b0e8"]]},{"id":"61d3413b.3faf6","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":8,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":157.01156616210938,"y":485,"wires":[["41dc4277.b186ac"]]},{"id":"f87a9fb0.f29f2","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"39147d26.addc72","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":597.0115661621094,"y":225,"wires":[[],[]]},{"id":"9848d404.2a43e8","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"39147d26.addc72","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":627.0115661621094,"y":465,"wires":[[],[]]},{"id":"26cc088e.d619f8","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"39147d26.addc72","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":627.0115661621094,"y":525,"wires":[[],[]]},{"id":"dc7ec6c6.180b38","type":"function","z":"7e8f8eaf.f9e88","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":307.0115661621094,"y":85,"wires":[["978a2552.41b0e8","ba1e73bb.e0afc","5f78069a.36d1b8","f87a9fb0.f29f2"]]},{"id":"cce2546c.d4ec38","type":"inject","z":"7e8f8eaf.f9e88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.01156616210938,"y":85,"wires":[["dc7ec6c6.180b38"]]},{"id":"9d3a471b.b08148","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":297.0115661621094,"y":45,"wires":[["26cc088e.d619f8","9848d404.2a43e8","978a2552.41b0e8","f87a9fb0.f29f2","ba1e73bb.e0afc","5f78069a.36d1b8"]]},{"id":"b4cdfc73.a1acf","type":"debug","z":"7e8f8eaf.f9e88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":671.2546691894531,"y":50.22453308105469,"wires":[]},{"id":"7de3607f.c75e3","type":"change","z":"c40739c4.c82958","name":"Set TOPIC power","rules":[{"t":"set","p":"topic","pt":"msg","to":"Power","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"Power","tot":"str"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":599.4306030273438,"y":1779.8033237457275,"wires":[["a95c9dba.56119"]]},{"id":"7552bb2.5a06644","type":"change","z":"c40739c4.c82958","name":"Set TOPIC humidity","rules":[{"t":"set","p":"topic","pt":"msg","to":"Humidity","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"Humidity","tot":"str"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":606.766975402832,"y":1731.2681350708008,"wires":[["a95c9dba.56119"]]},{"id":"2f964f58.afccd","type":"change","z":"c40739c4.c82958","name":"Convert to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1920,"wires":[["a92b6fa7.faeb7"]]},{"id":"8bc02f20.79f75","type":"ui_button","z":"c40739c4.c82958","name":"","group":"a981af94.c72be","order":7,"width":0,"height":0,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":660,"y":1695,"wires":[["a95c9dba.56119"]]},{"id":"389088e0.35c058","type":"change","z":"c40739c4.c82958","name":"Set TOPIC target","rules":[{"t":"set","p":"topic","pt":"msg","to":"Target","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"Target","tot":"str"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload","pt":"msg","to":"gHum","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":595.7893295288086,"y":1656.6945476531982,"wires":[["a95c9dba.56119"]]},{"id":"2d92aecc.4be322","type":"ui_button","z":"c40739c4.c82958","name":"","group":"a981af94.c72be","order":8,"width":0,"height":0,"passthru":false,"label":"Inject Timestamp","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":170,"y":1540,"wires":[["389088e0.35c058"]]},{"id":"a92b6fa7.faeb7","type":"function","z":"c40739c4.c82958","name":"calculate interval power","func":"var PastPower =flow.get('fPastPower') || parseFloat(msg.payload);\nvar CurrentPower = parseFloat(msg.payload);\nvar Difference = CurrentPower.toFixed(1)-PastPower.toFixed(1); \n//msg.topic = \"Target\";\n//msg.label = \"Target\"\nflow.set('fPastPower',CurrentPower);\nnode.status({fill:\"green\",shape:\"rinmg\",text:\"Past Power \"+PastPower+\"Curpower: \"+CurrentPower+\" dif \"+Difference});\nmsg.payload = Difference.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1920,"wires":[["c1019848.2344f8"]]},{"id":"35353848.5fb6b8","type":"range","z":"c40739c4.c82958","minin":"0","maxin":"200000","minout":"0","maxout":"30","action":"clamp","round":true,"property":"payload","name":"","x":407.8078422546387,"y":1780.7820568084717,"wires":[["7de3607f.c75e3"]]},{"id":"32f8d65d.be700a","type":"debug","z":"5409cc4e.c3ab64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":613.2499160766602,"y":398.18054389953613,"wires":[]},{"id":"54c4e683.73b248","type":"inject","z":"5409cc4e.c3ab64","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105.24769592285156,"y":246.20834350585938,"wires":[["cefa5dbc.f4edd"]]},{"id":"b49f80d9.15a87","type":"H command","z":"5409cc4e.c3ab64","name":"","server":"1f5c2f3b.38a5c1","activity":null,"label":"","command":null,"repeat":"1","x":161.254638671875,"y":460.9537353515625,"wires":[[]]},{"id":"cefa5dbc.f4edd","type":"H activity","z":"5409cc4e.c3ab64","name":"netfix","server":"1f5c2f3b.38a5c1","activity":"39628943","label":"Watch Netfix","x":355.25000381469727,"y":258.9374990463257,"wires":[["32f8d65d.be700a"]]},{"id":"6e78a6e1.1ff3c8","type":"H activity","z":"5409cc4e.c3ab64","name":"off","server":"1f5c2f3b.38a5c1","activity":"-1","label":"PowerOff","x":358.25231552124023,"y":319.9328899383545,"wires":[["32f8d65d.be700a"]]},{"id":"e9ea9588.8ad3f8","type":"inject","z":"5409cc4e.c3ab64","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101.01155853271484,"y":326.02776050567627,"wires":[["6e78a6e1.1ff3c8"]]},{"id":"c15964e3.e2c298","type":"wiotp out","z":"5409cc4e.c3ab64","authType":"d","qs":"true","qsDeviceId":"c15964e3.e2c298","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":625.2522621154785,"y":598.5579471588135,"wires":[]},{"id":"29815686.d92d9a","type":"ui_audio","z":"c40739c4.c82958","name":"","group":"6a8659aa.eab2f8","voice":"en-US","always":true,"x":940,"y":200,"wires":[]},{"id":"1ebf9ce8.f513d3","type":"bigtimer","z":"c40739c4.c82958","outtopic":"","outpayload1":"ON","outpayload2":"OFF","name":"on dusk off 9pm","comment":"","lat":"8.716667","lon":"167.733333","starttime":5001,"endtime":"1275","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"yard light ON","outtext2":"YARD LIGHT OFF","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":120,"y":1040,"wires":[["c5bcb20d.487c7"],[],["9c76b955.f18058"]]},{"id":"333ba82f.62ebf8","type":"debug","z":"c40739c4.c82958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":1940,"wires":[]},{"id":"3254434d.815c6c","type":"openhab2-out","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"echo_show_TTS","topic":"ItemCommand","payload":"","x":1310,"y":285,"wires":[[]]},{"id":"80442a04.dd9e68","type":"switch","z":"c40739c4.c82958","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":200,"wires":[["dce64a7.d3a71b8","d4b0d6b0.0726d8","b7b9548b.29e438","a18744d5.e5e508"],["d4b0d6b0.0726d8","cb127967.88b278"]]},{"id":"d4b0d6b0.0726d8","type":"stoptimer","z":"c40739c4.c82958","duration":"120","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":970,"y":240,"wires":[["dce64a7.d3a71b8","b7b9548b.29e438"],[]]},{"id":"534227b7.273e98","type":"openhab2-in","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"BedroomMotion_HK","x":130,"y":700,"wires":[["28a5261c.acb82a","e42064d8.a9cf38"],[]]},{"id":"af66edba.cda6e","type":"openhab2-out","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"Zooz_Port_1_HK","topic":"ItemCommand","payload":"","x":970,"y":740,"wires":[[]]},{"id":"2b0fa156.2836be","type":"openhab2-out","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"Zoo_Port_4_HK","topic":"ItemCommand","payload":"","x":962,"y":794,"wires":[[]]},{"id":"89b31170.2114b","type":"openhab2-out","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"Zoo_Port_5_HK","topic":"ItemCommand","payload":"","x":960,"y":849,"wires":[[]]},{"id":"91301eaf.7fb0b","type":"openhab2-in","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"GroundMotion_HK","x":130,"y":120,"wires":[["80442a04.dd9e68","d14b18b2.734728","e98be045.f62d8"],[]]},{"id":"80f5c6b3.2c58c8","type":"openhab2-in","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"KitchenDoor_HK","x":120,"y":320,"wires":[["1058784.579ea88"],[]]},{"id":"d311db63.2385a8","type":"openhab2-out","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"echo_dot_TTS","topic":"ItemCommand","payload":"","x":1300,"y":235,"wires":[[]]},{"id":"e2d75895.2999c8","type":"openhab2-out","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"echo_echo_TTS","topic":"ItemCommand","payload":"","x":1300,"y":334,"wires":[[]]},{"id":"95cc87b4.392d08","type":"openhab2-in","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"Home_Away","x":110,"y":40,"wires":[["37b5de08.03a6e2","ce86852.08c3a78"],[]]},{"id":"dce64a7.d3a71b8","type":"openhab2-out","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"LivingroomLamp_HK","topic":"ItemCommand","payload":"","x":1300,"y":100,"wires":[[]]},{"id":"b7b9548b.29e438","type":"openhab2-out","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"Huelivingroom_HK","topic":"ItemCommand","payload":"","x":1450,"y":160,"wires":[[]]},{"id":"706d6d8a.89bff4","type":"ui_text","z":"a30c4f0a.3af8b","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon rise","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":980,"y":160,"wires":[]},{"id":"22633b46.90c364","type":"ui_text","z":"a30c4f0a.3af8b","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon phase","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":990,"y":280,"wires":[]},{"id":"89b62db7.e6eeb","type":"ui_text","z":"a30c4f0a.3af8b","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon asmith","format":"{{msg.payload | number:2}}&deg","layout":"row-spread","x":990,"y":340,"wires":[]},{"id":"3d21892e.ac7296","type":"ui_text","z":"a30c4f0a.3af8b","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon illumination","format":"{{msg.payload | number:0}}%","layout":"row-spread","x":1010,"y":400,"wires":[]},{"id":"bd25a013.a797f","type":"ui_text","z":"a30c4f0a.3af8b","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon set","format":"{{msg.payload | date:'EEE hh:mm:ss a - Z'}}","layout":"row-spread","x":980,"y":220,"wires":[]},{"id":"1b850d37.e74333","type":"change","z":"a30c4f0a.3af8b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($substring(payload,0,$length(payload)-2) )\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":340,"wires":[["89b62db7.e6eeb"]]},{"id":"67717984.3b9e68","type":"change","z":"a30c4f0a.3af8b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($substring(payload,0,$length(payload)-2) )\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":400,"wires":[["3d21892e.ac7296"]]},{"id":"5c291e51.a444b","type":"openhab2-in","z":"a30c4f0a.3af8b","name":"","controller":"c7cf9fd7.82b16","itemname":"AstroMoonData_Rise_StartTime","x":190,"y":160,"wires":[["706d6d8a.89bff4"],[]]},{"id":"d6e6f591.bf9ba8","type":"openhab2-in","z":"a30c4f0a.3af8b","name":"","controller":"c7cf9fd7.82b16","itemname":"AstroMoonData_Set_EndTime","x":180,"y":220,"wires":[["bd25a013.a797f"],[]]},{"id":"e4b18cf2.c8b36","type":"openhab2-in","z":"a30c4f0a.3af8b","name":"","controller":"c7cf9fd7.82b16","itemname":"AstroMoonData_Phase_MoonPhaseName","x":220,"y":280,"wires":[["22633b46.90c364"],[]]},{"id":"1fbfa596.31cb7a","type":"openhab2-in","z":"a30c4f0a.3af8b","name":"","controller":"c7cf9fd7.82b16","itemname":"AstroMoonData_Position_Azimuth","x":200,"y":340,"wires":[["1b850d37.e74333"],[]]},{"id":"d6b06c3a.eb7e2","type":"openhab2-in","z":"a30c4f0a.3af8b","name":"","controller":"c7cf9fd7.82b16","itemname":"AstroMoonData_Phase_MoonIllumination","x":220,"y":400,"wires":[["67717984.3b9e68"],[]]},{"id":"29be29a.987e3d6","type":"ui_text","z":"a30c4f0a.3af8b","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"day phase","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":990,"y":454,"wires":[]},{"id":"51e8e843.dc8d98","type":"openhab2-in","z":"a30c4f0a.3af8b","name":"","controller":"c7cf9fd7.82b16","itemname":"AstroSunData_Phase_SunPhaseName","x":210,"y":460,"wires":[["29be29a.987e3d6"],[]]},{"id":"60b49bb3.38e3c4","type":"openhab2-in","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"HarmonyHubHarmonyHub_","x":160,"y":900,"wires":[["f71c6bc6.1f26f8"],[]]},{"id":"c7b4e601.740cd8","type":"openhab2-out","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"DiningRoomPowerSwitch_Switch","topic":"ItemCommand","payload":"","x":1200,"y":1580,"wires":[["fd03f6c7.8e1818"]]},{"id":"f7d4ef32.165d9","type":"openhab2-out","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"DiningRoomPowerSwitch_ElectricMeterKWh","topic":"ItemUpdate","payload":"","x":350,"y":2040,"wires":[["2f964f58.afccd"]]},{"id":"c1019848.2344f8","type":"change","z":"c40739c4.c82958","name":"Convert to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1820,"wires":[["333ba82f.62ebf8","35353848.5fb6b8"]]},{"id":"7fa92d24.647dd4","type":"openhab2-in","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"gHumidity","x":80,"y":1480,"wires":[["4887c69e.214b28"],[]]},{"id":"8f857ec4.95af","type":"ui_template","z":"fc1fd059.da358","group":"a91e407e.1d351","name":"SVG based template","order":0,"width":"6","height":"6","format":"<style>\n\n    #tex1 {\n        font-weight:bolder;\n        font-size: 12;\n        letter-spacing: 4px;\n        fill: white;\n    }\n    \n</style>\n\n\n<svg height=\"300\" width=\"300\" >\n\n<text id=\"tex1\" x=\"10\" y=\"30\" > {{msg.payload[0]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"50\" > {{msg.payload[1]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"70\" > {{msg.payload[2]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"90\" > {{msg.payload[3]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"110\" > {{msg.payload[4]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"130\" > {{msg.payload[5]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"150\" > {{msg.payload[6]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"170\" > {{msg.payload[7]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"190\" > {{msg.payload[8]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"210\" > {{msg.payload[9]}} </text>\n</svg>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":760,"y":380,"wires":[[]]},{"id":"a6c904db.e4d228","type":"function","z":"fc1fd059.da358","name":"Create table in context","func":"let sctab = [];\nflow.set(\"sctab\", sctab);\nreturn msg;","outputs":"1","noerr":0,"x":400,"y":220,"wires":[[]]},{"id":"c519fdd8.e60c9","type":"inject","z":"fc1fd059.da358","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5","x":150,"y":220,"wires":[["a6c904db.e4d228"]]},{"id":"fbd35f30.0b5c7","type":"function","z":"fc1fd059.da358","name":"Add word to scrolling table","func":"let pay = msg.payload;\n\n// Read scrolling table from context\nlet sctab = flow.get(\"sctab\");\n\n// Modify scrolling table by adding msg.payload as first element\nlet size = sctab.unshift(pay);\n\n// Remove last element from scrolling table\nif (size >9) sctab.pop();\n\n// Update context for scrolling text\nflow.set(\"sctab\",sctab);\n\n// Shalow copy updated scrolling table to msg.payload\nmsg.payload = [...sctab];\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":380,"wires":[["8f857ec4.95af"]]},{"id":"25cbbe36.dc3b42","type":"inject","z":"fc1fd059.da358","name":"","topic":"","payload":"Alfa","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":340,"wires":[["fbd35f30.0b5c7"]]},{"id":"6d78ed67.534dd4","type":"inject","z":"fc1fd059.da358","name":"","topic":"","payload":"Bravo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":380,"wires":[["fbd35f30.0b5c7"]]},{"id":"23588ed8.b49af2","type":"inject","z":"fc1fd059.da358","name":"","topic":"","payload":"Charlie","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":420,"wires":[["fbd35f30.0b5c7"]]},{"id":"9bc4a5ac.2dfd58","type":"inject","z":"fc1fd059.da358","name":"","topic":"","payload":"Delta","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":460,"wires":[["fbd35f30.0b5c7"]]},{"id":"7e8674fc.826c0c","type":"inject","z":"fc1fd059.da358","name":"msg1","topic":"","payload":"{\"msg\":\"Message one, bla bla\",\"confirm\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":600,"wires":[["3e9198e3.ce5008"]]},{"id":"3e9198e3.ce5008","type":"function","z":"fc1fd059.da358","name":"add ts","func":"js_obj      = msg.payload;\n\nvar d       = new Date();\nvar jstime  = d.getTime();\nvar time    = (d.getHours()) + \":\" + d.getMinutes();\nvar date    = d.getDate() + \".\" + (d.getMonth()+1) + \".\" + (d.getFullYear());\n\njs_obj.timestamp = jstime;\njs_obj.timedate  = time + ' ' + date ;\n\nmsg.payload = js_obj ;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":450,"y":820,"wires":[["e323a446.74f108"]]},{"id":"63587047.3c204","type":"inject","z":"fc1fd059.da358","name":"msg2","topic":"","payload":"{\"msg\":\"Message two, blip bloep\",\"confirm\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":640,"wires":[["3e9198e3.ce5008"]]},{"id":"5d052b1.2d597d4","type":"inject","z":"fc1fd059.da358","name":"msg3","topic":"","payload":"{\"msg\":\"Message three, cat fish\",\"confirm\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":680,"wires":[["3e9198e3.ce5008"]]},{"id":"b4529fa6.00c98","type":"inject","z":"fc1fd059.da358","name":"msg4","topic":"","payload":"{\"msg\":\"Message four, send it !\",\"confirm\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":720,"wires":[["3e9198e3.ce5008"]]},{"id":"f3c02284.91aed","type":"inject","z":"fc1fd059.da358","name":"msg5","topic":"","payload":"{\"msg\":\"Message five, my crazy\",\"confirm\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":760,"wires":[["3e9198e3.ce5008"]]},{"id":"21e316cd.c12d1a","type":"inject","z":"fc1fd059.da358","name":"msg6","topic":"","payload":"{\"msg\":\"Message six, whoop whoop !\",\"confirm\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":800,"wires":[["3e9198e3.ce5008"]]},{"id":"92af9481.86e408","type":"inject","z":"fc1fd059.da358","name":"msg7","topic":"","payload":"{\"msg\":\"Message seven\",\"confirm\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":840,"wires":[["3e9198e3.ce5008"]]},{"id":"1f31db59.dacf45","type":"inject","z":"fc1fd059.da358","name":"msg8","topic":"","payload":"{\"msg\":\"Message 8, whats up monkey?\",\"confirm\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":880,"wires":[["3e9198e3.ce5008"]]},{"id":"365e3f78.4a0e8","type":"inject","z":"fc1fd059.da358","name":"msg9","topic":"","payload":"{\"msg\":\"Message 9, fly away\",\"confirm\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":920,"wires":[["3e9198e3.ce5008"]]},{"id":"4e9ee4d0.9389cc","type":"inject","z":"fc1fd059.da358","name":"msg10","topic":"","payload":"{\"msg\":\"Message 10, diving for gold\",\"confirm\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":960,"wires":[["3e9198e3.ce5008"]]},{"id":"b908ab83.d78fe8","type":"inject","z":"fc1fd059.da358","name":"msg11","topic":"","payload":"{\"msg\":\"Message 11, flying fish\",\"confirm\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1000,"wires":[["3e9198e3.ce5008"]]},{"id":"370b1382.03433c","type":"inject","z":"fc1fd059.da358","name":"msg12","topic":"","payload":"{\"msg\":\"Message 12, octopus\",\"confirm\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1040,"wires":[["3e9198e3.ce5008"]]},{"id":"53b235bc.0fe32c","type":"inject","z":"fc1fd059.da358","name":"msg13","topic":"","payload":"{\"msg\":\"Message 13, swim away\",\"confirm\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1080,"wires":[["3e9198e3.ce5008"]]},{"id":"8f0f23d7.dd602","type":"inject","z":"fc1fd059.da358","name":"msg14","topic":"","payload":"{\"msg\":\"Message 14, warra warra\",\"confirm\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1120,"wires":[["3e9198e3.ce5008"]]},{"id":"4f276527.e512fc","type":"inject","z":"fc1fd059.da358","name":"msg15","topic":"","payload":"{\"msg\":\"Message 15, fish paste\",\"confirm\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1160,"wires":[["3e9198e3.ce5008"]]},{"id":"504f5d21.7ea844","type":"template","z":"fc1fd059.da358","name":"html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<table border=\"1\">\n    \n    \n    <thead>\n        <tr>\n            <th colspan=\"3\">{{topic}}</th>\n        </tr>\n    </thead>\n    \n    \n    <tr>\n        <th>Message</th>\n        <th>Confirm</th>\n        <th>Time & Date</th>\n\n    </tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{msg}}</td>            \n            <td>{{confirm}}</td>\n            <td>{{timedate}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","output":"str","x":1150,"y":880,"wires":[["9040931e.c108e"]]},{"id":"9040931e.c108e","type":"ui_template","z":"fc1fd059.da358","group":"a91e407e.1d351","name":"Scrolling Messages","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" height=\"500\" style=\"height: 350px;\"></div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1332,"y":880,"wires":[[]]},{"id":"e323a446.74f108","type":"function","z":"fc1fd059.da358","name":"Cr/Upd msg_events","func":"var msg_obj       = msg.payload ;\nvar arr_msgs = flow.get(\"msg_events\", 'memoryOnly');\n\nif (arr_msgs===undefined ) {\n    // Create an empty array if it does not exist yet\n    arr_msgs = [];\n    //arr_msgs.push(msg_obj) ; \n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n    \n//    return msg ;\n\n} else {\n        // This is a new user, save and return in the first port\n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n} \nmsg.payload = flow.get(\"msg_events\", 'memoryOnly');\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":1060,"wires":[["6763dac9.48ac04"]]},{"id":"62fe0eb.93ac8f","type":"function","z":"fc1fd059.da358","name":"zap msg_events flow context","func":"var cfg = undefined ;\nflow.set('msg_events', cfg, 'memoryOnly');\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":520,"wires":[[]]},{"id":"a4466482.f05ee8","type":"inject","z":"fc1fd059.da358","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"0.1","x":230,"y":520,"wires":[["62fe0eb.93ac8f"]]},{"id":"a77db80a.815d38","type":"function","z":"fc1fd059.da358","name":"topic & 10","func":"var arr = msg.payload ;\n\nvar i   = 10;\nif(typeof arr === undefined) {\n    return ;\n} else {\n    msg.payload = arr.slice(0, 10);    \n    msg.topic = 'ALERT! :';\n    return msg;\n}","outputs":1,"noerr":0,"x":980,"y":1020,"wires":[["504f5d21.7ea844"]]},{"id":"6763dac9.48ac04","type":"change","z":"fc1fd059.da358","name":"sort","rules":[{"t":"set","p":"payload","pt":"msg","to":"($sort(payload,function($l , $r){$l.timestamp < $r.timestamp }) )","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1060,"wires":[["cb6d2617.1adc58","a77db80a.815d38"]]},{"id":"cb6d2617.1adc58","type":"debug","z":"fc1fd059.da358","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":1080,"wires":[]},{"id":"4887c69e.214b28","type":"ui_level","z":"c40739c4.c82958","group":"a981af94.c72be","order":2,"width":0,"height":0,"name":"","label":"Humidity","colorHi":"#ff0000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"40","max":"70","segWarn":"50","segHigh":"60","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"3","colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"segments","peakmode":false,"peaktime":3000,"x":690,"y":1480,"wires":[]},{"id":"b24f529f.77093","type":"openhab2-events","z":"fc1fd059.da358","name":"","controller":"c7cf9fd7.82b16","itemname":"","x":480,"y":620,"wires":[["c91407a9.a4d378"]]},{"id":"ac687e06.ed382","type":"debug","z":"fc1fd059.da358","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":640,"wires":[]},{"id":"c91407a9.a4d378","type":"match","z":"fc1fd059.da358","name":"","rules":[{"property":"topic","propertyType":"msg","type":"cont","value":"smarthome/items/NetworkWIFIAP_LastSeen","valueType":"str"}],"x":730,"y":620,"wires":[["1376002c.31f3a"],["24e1f153.3f7ece"]]},{"id":"24e1f153.3f7ece","type":"debug","z":"fc1fd059.da358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":660,"wires":[]},{"id":"39fdb201.dabf7e","type":"ui_table","z":"fc1fd059.da358","group":"6a8659aa.eab2f8","name":"","order":7,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":930,"y":540,"wires":[]},{"id":"8c613c72.82a7b","type":"ring-buffer","z":"fc1fd059.da358","name":"","capacity":"5","order":"old-to-new","sendOnlyIfFull":false,"pushAfterClear":true,"extra":true,"perTopic":true,"x":500,"y":1440,"wires":[["2ec69bbc.f60444"]]},{"id":"ab496cab.0fa2a","type":"inject","z":"fc1fd059.da358","name":"","topic":"a","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1240,"wires":[["8c613c72.82a7b"]]},{"id":"af358510.8c5758","type":"inject","z":"fc1fd059.da358","name":"","topic":"a","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1280,"wires":[["8c613c72.82a7b"]]},{"id":"5bd540bf.f780e","type":"inject","z":"fc1fd059.da358","name":"","topic":"a","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1320,"wires":[["8c613c72.82a7b"]]},{"id":"90b2c8c9.143b38","type":"inject","z":"fc1fd059.da358","name":"","topic":"b","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1400,"wires":[["8c613c72.82a7b"]]},{"id":"bac210e3.9137f","type":"inject","z":"fc1fd059.da358","name":"","topic":"b","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1440,"wires":[["8c613c72.82a7b"]]},{"id":"1cf94a6d.f61556","type":"inject","z":"fc1fd059.da358","name":"","topic":"b","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1480,"wires":[["8c613c72.82a7b"]]},{"id":"7f70bfb3.17fb8","type":"inject","z":"fc1fd059.da358","name":"","topic":"c","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1560,"wires":[["8c613c72.82a7b"]]},{"id":"b69be3aa.6db37","type":"inject","z":"fc1fd059.da358","name":"","topic":"c","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1600,"wires":[["8c613c72.82a7b"]]},{"id":"464f6520.026c4c","type":"inject","z":"fc1fd059.da358","name":"","topic":"c","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1640,"wires":[["8c613c72.82a7b"]]},{"id":"2ec69bbc.f60444","type":"debug","z":"fc1fd059.da358","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":1440,"wires":[]},{"id":"74f11a39.7cb084","type":"inject","z":"fc1fd059.da358","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":1260,"wires":[["de71a70e.1b2578"]]},{"id":"2c7c5aed.6b7076","type":"inject","z":"fc1fd059.da358","name":"","topic":"a","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":1300,"wires":[["118a79c7.fe6fa6"]]},{"id":"de71a70e.1b2578","type":"change","z":"fc1fd059.da358","name":"","rules":[{"t":"set","p":"clearAll","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1260,"wires":[["8c613c72.82a7b"]]},{"id":"118a79c7.fe6fa6","type":"change","z":"fc1fd059.da358","name":"","rules":[{"t":"set","p":"clear","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1300,"wires":[["8c613c72.82a7b"]]},{"id":"e2a68c5a.d7c44","type":"inject","z":"fc1fd059.da358","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1720,"wires":[["7b099910.cf20a8"]]},{"id":"7b099910.cf20a8","type":"function","z":"fc1fd059.da358","name":"","func":"msg.topic = Math.random();\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1720,"wires":[["8c613c72.82a7b"]]},{"id":"1376002c.31f3a","type":"ring-buffer","z":"fc1fd059.da358","name":"recent Events","capacity":"10","order":"new-to-old","sendOnlyIfFull":false,"pushAfterClear":true,"extra":true,"perTopic":true,"x":880,"y":740,"wires":[["ac687e06.ed382"]]},{"id":"c5bcb20d.487c7","type":"openhab2-out","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"YardOutlet_HK","topic":"ItemCommand","payload":"","x":961,"y":1020,"wires":[[]]},{"id":"5eea1cad.e0bc54","type":"openhab2-get","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"gTemps","x":140,"y":2120,"wires":[["ffb27927.6fe628"]]},{"id":"ffb27927.6fe628","type":"change","z":"c40739c4.c82958","name":"Convert to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2120,"wires":[["39898a48.7d3ce6"]]},{"id":"39898a48.7d3ce6","type":"change","z":"c40739c4.c82958","name":"Set TOPIC target","rules":[{"t":"set","p":"topic","pt":"msg","to":"GlobalTemperature","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"GlobalTemperature","tot":"str"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2120,"wires":[["a95c9dba.56119"]]},{"id":"19a7d8a0.a15587","type":"openhab2-get","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"gHumidity","x":100,"y":1640,"wires":[["d8fb5eb3.3ec7c"]]},{"id":"af57f9a2.9b9318","type":"debug","z":"c40739c4.c82958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1220,"y":1740,"wires":[]},{"id":"7c5a7f1a.a7b2e","type":"openhab2-in","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"DiningRoomPowerSwitch_Switch","x":930,"y":1480,"wires":[["fd03f6c7.8e1818"],[]]},{"id":"2592081.4431cf8","type":"openhab2-in","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"YardOutlet_HK","x":120,"y":960,"wires":[["c04e841c.5af3a8"],[]]},{"id":"c04e841c.5af3a8","type":"ui_text","z":"c40739c4.c82958","group":"6a8659aa.eab2f8","order":1,"width":0,"height":0,"name":"","label":"Yard Outlet","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":970,"y":960,"wires":[]},{"id":"a18744d5.e5e508","type":"openhab2-out","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"HueTikiLampSwitch_HK","topic":"","payload":"","x":1330,"y":60,"wires":[[]]},{"id":"cb127967.88b278","type":"stoptimer","z":"c40739c4.c82958","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":960,"y":280,"wires":[["a18744d5.e5e508"],[]]},{"id":"f8dcaab.dcfbf58","type":"openhab2-in","z":"c40739c4.c82958","name":"House Temperature","controller":"c7cf9fd7.82b16","itemname":"gTemps","x":110,"y":1400,"wires":[["c8eaa46.8355f58"],[]]},{"id":"c8eaa46.8355f58","type":"ui_text","z":"c40739c4.c82958","group":"a981af94.c72be","order":4,"width":0,"height":0,"name":"","label":"House Temperature","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":870,"y":1380,"wires":[]},{"id":"26674766.674538","type":"openhab2-in","z":"c40739c4.c82958","name":"","controller":"c7cf9fd7.82b16","itemname":"KitchenLockRaw_HK","x":130,"y":400,"wires":[["1f437139.acedef"],["a4c1ff4.716d"]]},{"id":"1f437139.acedef","type":"ui_text","z":"c40739c4.c82958","group":"a91e407e.1d351","order":1,"width":0,"height":0,"name":"","label":"Kitchen Lock Raw","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":890,"y":400,"wires":[]},{"id":"6bb23289.92113c","type":"debug","z":"c40739c4.c82958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":500,"wires":[]},{"id":"eb8b1ce4.2b3a7","type":"ui_table","z":"c40739c4.c82958","group":"a91e407e.1d351","name":"","order":2,"width":0,"height":0,"columns":[{"field":"","title":"","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":860,"y":440,"wires":[]},{"id":"a4c1ff4.716d","type":"csv","z":"c40739c4.c82958","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":410,"y":500,"wires":[["6bb23289.92113c"]]}]