flows_openHABianPi.json
[{"id":"7e8f8eaf.f9e88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c40739c4.c82958","type":"tab","label":"OpenHab Rules","disabled":false,"info":""},{"id":"5409cc4e.c3ab64","type":"tab","label":"Harmony","disabled":false,"info":""},{"id":"c7cf9fd7.82b16","type":"openhab2-controller","z":"","name":"OpenHabPi","protocol":"http","host":"localhost","port":"8080","path":"","username":"openhabian","password":"zenguru5!!"},{"id":"6a8659aa.eab2f8","type":"ui_group","z":"","name":"openhab","tab":"2ccc7703.df0308","disp":true,"width":"6","collapse":false},{"id":"2ccc7703.df0308","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"aebc19d2.3d6c88","type":"ui_group","z":"","name":"Sun and Moon","tab":"2ccc7703.df0308","disp":true,"width":"6","collapse":false},{"id":"1f5c2f3b.38a5c1","type":"harmony-server","z":"","name":"harmony","ip":"192.168.0.143"},{"id":"902a7844.040238","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a981af94.c72be","type":"ui_group","z":"","name":"Humidity","tab":"2ccc7703.df0308","disp":true,"width":"12","collapse":false},{"id":"f393b0f9.d7ac8","type":"openhab-v2-controller","z":0,"name":"openhab","protocol":"http","host":"localhost","port":"8080","path":"","username":"openhabian","password":"zenguru5!!","allowRawEvents":true},{"id":"f91e95d4.c06308","type":"ui_group","z":"","name":"Charts","tab":"8380c1d1.5718","order":2,"disp":false,"width":"6"},{"id":"52f9c56e.e6b50c","type":"ui_group","z":"","name":"Inputs","tab":"8380c1d1.5718","order":1,"disp":false,"width":"6"},{"id":"39147d26.addc72","type":"ui_group","z":"","name":"Group 3","tab":"8380c1d1.5718","order":3,"disp":false,"width":"6"},{"id":"8380c1d1.5718","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"34f962de.a1a7be","type":"debug","z":"c40739c4.c82958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":605.254638671875,"y":549.1157379150391,"wires":[]},{"id":"796dd7c8.b13a88","type":"ui_text","z":"c40739c4.c82958","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon rise","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":514.2523307800293,"y":221.49074172973633,"wires":[]},{"id":"bdc15de0.eddae","type":"ui_text","z":"c40739c4.c82958","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon phase","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":517.0115356445312,"y":327.0277729034424,"wires":[]},{"id":"a168d9e.6ab5028","type":"ui_text","z":"c40739c4.c82958","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon asmith","format":"{{msg.payload | number:2}}&deg","layout":"row-spread","x":791.999828338623,"y":379.0277614593506,"wires":[]},{"id":"c172d4ed.894c18","type":"ui_text","z":"c40739c4.c82958","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon illumination","format":"{{msg.payload | number:0}}%","layout":"row-spread","x":813.0114288330078,"y":433.02775955200195,"wires":[]},{"id":"e98be045.f62d8","type":"ui_text","z":"c40739c4.c82958","group":"6a8659aa.eab2f8","order":1,"width":0,"height":0,"name":"","label":"alarm","format":"{{msg.payload}}","layout":"row-spread","x":502.01155853271484,"y":63.02777099609375,"wires":[]},{"id":"705d64b1.d82b4c","type":"ui_text","z":"c40739c4.c82958","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon set","format":"{{msg.payload | date:'EEE hh:mm:ss a - Z'}}","layout":"row-spread","x":517.0115356445312,"y":272.02775287628174,"wires":[]},{"id":"dbfb7c84.7f6d8","type":"change","z":"c40739c4.c82958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($substring(payload,0,$length(payload)-2) )\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":484.51385498046875,"y":377.6921215057373,"wires":[["a168d9e.6ab5028"]]},{"id":"feb4e6aa.26a208","type":"change","z":"c40739c4.c82958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($substring(payload,0,$length(payload)-2) )\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":523.0115356445312,"y":432.02777099609375,"wires":[["c172d4ed.894c18"]]},{"id":"28a5261c.acb82a","type":"ui_text","z":"c40739c4.c82958","group":"6a8659aa.eab2f8","order":1,"width":0,"height":0,"name":"","label":"bedroom motion","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":753,"y":685.888916015625,"wires":[]},{"id":"e42fa664.97ebf8","type":"stoptimer","z":"c40739c4.c82958","duration":"120","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":402.5,"y":824,"wires":[["9605e16.6de0f2","44e2d824.7b3008"],[]]},{"id":"6c497142.1ae51","type":"inject","z":"c40739c4.c82958","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":149.00001525878906,"y":811,"wires":[["e42064d8.a9cf38"]]},{"id":"e42064d8.a9cf38","type":"switch","z":"c40739c4.c82958","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":326.5,"y":727,"wires":[["44e2d824.7b3008","9605e16.6de0f2","d3574daf.e5dfb"],["e42fa664.97ebf8"]]},{"id":"d14b18b2.734728","type":"change","z":"c40739c4.c82958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Ground Floor Motion set to \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":533.388916015625,"y":101.33332633972168,"wires":[["9c76b955.f18058"]]},{"id":"d72341c4.b92b1","type":"ui_text","z":"c40739c4.c82958","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon rise","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":1044.9977416992188,"y":210.68751525878906,"wires":[]},{"id":"c334018a.f583f","type":"inject","z":"c40739c4.c82958","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":153,"y":854.8889217376709,"wires":[["e42064d8.a9cf38"]]},{"id":"f71c6bc6.1f26f8","type":"ui_text","z":"c40739c4.c82958","group":"6a8659aa.eab2f8","order":1,"width":0,"height":0,"name":"","label":"Harmony Hub  State","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":768,"y":973,"wires":[]},{"id":"37b5de08.03a6e2","type":"function","z":"c40739c4.c82958","name":"set global Home / Away","func":"var HomeState=global.get('gHome') || \"AWAY\";\nHomeState = msg.payload;\nglobal.set('gHome',HomeState);\nnode.status({fill:\"green\",shape:\"ring\",text:\"state: \"+HomeState});\nreturn msg;","outputs":1,"noerr":0,"x":924.5,"y":20,"wires":[[]]},{"id":"1058784.579ea88","type":"change","z":"c40739c4.c82958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Kitchen door is \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":538,"y":183,"wires":[["9c76b955.f18058"]]},{"id":"9c76b955.f18058","type":"function","z":"c40739c4.c82958","name":"Drop Voice messages if Home","func":"var HomeState=global.get('gHome') ;\n\nif (HomeState == \"HOME\")\n   {\n       msg.payload =\"\";\n       node.status({fill:\"red\",shape:\"ring\",text:\"Voice Messages off\"});\n   }\nelse\n   {\n       node.status({fill:\"green\",shape:\"dot\",text:\"Voice Messages ON  \" + HomeState});\n   }\nreturn msg;","outputs":1,"noerr":0,"x":815,"y":130,"wires":[["6a22f3cf.b4233c","7323237e.5e93ac"]]},{"id":"eb76dcec.1fe26","type":"H command","z":"5409cc4e.c3ab64","name":"","server":"1f5c2f3b.38a5c1","activity":"33669083","harmony_type":"act","label":"Watch Apple TV","command":"%7B%22command%22::%22Select%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2254410745%22%7D","repeat":"1","x":368,"y":318,"wires":[[]]},{"id":"4003126e.c695bc","type":"H observe","z":"5409cc4e.c3ab64","name":"","server":"1f5c2f3b.38a5c1","x":303,"y":141,"wires":[["32f8d65d.be700a"]]},{"id":"6563139c.c7ae4c","type":"ui_text","z":"c40739c4.c82958","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"day phase","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":723.7592239379883,"y":1074.4444389343262,"wires":[]},{"id":"b28c2330.25d4c","type":"switch","z":"c40739c4.c82958","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"NIGHT","vt":"str"},{"t":"neq","v":"NIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":431.00000381469727,"y":1182.6668376922607,"wires":[["2e313df4.8e9bf2"],["bb60ad9b.67706"]]},{"id":"2e313df4.8e9bf2","type":"change","z":"c40739c4.c82958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640.0000076293945,"y":1173.7778415679932,"wires":[[]]},{"id":"58c0c389.a2653c","type":"inject","z":"c40739c4.c82958","name":"","topic":"","payload":"DAY","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":201,"y":1197.77783203125,"wires":[["b28c2330.25d4c"]]},{"id":"bb60ad9b.67706","type":"change","z":"c40739c4.c82958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":638,"y":1211.77783203125,"wires":[[]]},{"id":"aad64a93.41d4a8","type":"inject","z":"c40739c4.c82958","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"00 13 * * *","once":false,"onceDelay":0.1,"x":196,"y":1253,"wires":[["b28c2330.25d4c"]]},{"id":"ce86852.08c3a78","type":"ui_dropdown","z":"c40739c4.c82958","name":"","label":"Home State","tooltip":"","place":"Select option","group":"6a8659aa.eab2f8","order":3,"width":0,"height":0,"passthru":false,"options":[{"label":"HOME","value":"HOME","type":"str"},{"label":"AWAY","value":"AWAY","type":"str"},{"label":"NIGHT","value":"NIGHT","type":"str"}],"payload":"","topic":"","x":865,"y":69,"wires":[["2aeb1ae3.5ab5a6"]]},{"id":"7126eaae.d9ef34","type":"inject","z":"c40739c4.c82958","name":"","topic":"","payload":"NIGHT","payloadType":"str","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":209,"y":20,"wires":[["ce86852.08c3a78"]]},{"id":"8cdd2140.a37a","type":"ui_text","z":"c40739c4.c82958","group":"a981af94.c72be","order":1,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":815,"y":1337,"wires":[]},{"id":"2b5e67f5.965198","type":"ui_slider","z":"c40739c4.c82958","name":"HumTarget","label":"slider","tooltip":"","group":"a981af94.c72be","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"40","max":"70","step":1,"x":415,"y":1404.9999227523804,"wires":[["c29684c1.50b0d8"]]},{"id":"1ac688d6.11ff37","type":"ui_text","z":"c40739c4.c82958","group":"a981af94.c72be","order":1,"width":0,"height":0,"name":"","label":"Humidity Target","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":975,"y":1403,"wires":[]},{"id":"cabd3d17.1f847","type":"inject","z":"c40739c4.c82958","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":140.88888549804688,"y":1590.6667098999023,"wires":[["ae714ef1.41a78","389088e0.35c058","4c8d07ae.3a4dc8"]]},{"id":"68a24b72.4a8b24","type":"switch","z":"c40739c4.c82958","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"gHum","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":741.9999618530273,"y":1590.666711807251,"wires":[["459336b1.ebfa48"],["3083c9b7.930456"]]},{"id":"c29684c1.50b0d8","type":"function","z":"c40739c4.c82958","name":"set global Humidity","func":"var HumTarget=global.get('gHum') || 55;\nHumTarget = msg.payload;\nmsg.topic = \"Target\";\nmsg.label = \"Target\"\nglobal.set('gHum',HumTarget);\nnode.status({fill:\"green\",shape:\"rinmg\",text:\"state: \"+HumTarget});\nreturn msg;","outputs":1,"noerr":0,"x":656,"y":1404,"wires":[["1ac688d6.11ff37"]]},{"id":"459336b1.ebfa48","type":"change","z":"c40739c4.c82958","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":884.4444618225098,"y":1568.5554866790771,"wires":[["5b0eb5f9.c0324c"]]},{"id":"3083c9b7.930456","type":"change","z":"c40739c4.c82958","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":882.9999580383301,"y":1617.6666240692139,"wires":[["5b0eb5f9.c0324c"]]},{"id":"d8fb5eb3.3ec7c","type":"change","z":"c40739c4.c82958","name":"Convert to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":220.19670867919922,"y":1734.064842224121,"wires":[["68a24b72.4a8b24","7552bb2.5a06644","8cdd2140.a37a"]]},{"id":"9dcdfd8c.80628","type":"inject","z":"c40739c4.c82958","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":207.0115509033203,"y":1405.064905166626,"wires":[["2b5e67f5.965198"]]},{"id":"fd03f6c7.8e1818","type":"ui_text","z":"c40739c4.c82958","group":"a981af94.c72be","order":1,"width":0,"height":0,"name":"","label":"dehumidifier","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":556.0856704711914,"y":1482.0278701782227,"wires":[]},{"id":"d3574daf.e5dfb","type":"openhab-v2-out","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"Zooz_Port_1_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":783.3888931274414,"y":624.2221994400024,"wires":[]},{"id":"9605e16.6de0f2","type":"openhab-v2-out","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"Zoo_Port_5_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":780,"y":831,"wires":[]},{"id":"44e2d824.7b3008","type":"openhab-v2-out","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"Zoo_Port_4_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":779,"y":784,"wires":[]},{"id":"6a22f3cf.b4233c","type":"openhab-v2-out","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"echo_dot_TTS","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1045.0000076293945,"y":96,"wires":[]},{"id":"a7e96d12.aab99","type":"openhab-v2-out","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"LivingroomLamp_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":545,"y":142.22222137451172,"wires":[]},{"id":"7323237e.5e93ac","type":"openhab-v2-out","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"echo_show_TTS","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1051.0000076293945,"y":155.00000095367432,"wires":[]},{"id":"57418f07.c0149","type":"openhab-v2-out","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"YardOutlet_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":855.0000038146973,"y":1176.5556182861328,"wires":[]},{"id":"2aeb1ae3.5ab5a6","type":"openhab-v2-out","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"Home_Away","topic":"ItemUpdate","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1144,"y":40,"wires":[]},{"id":"5b0eb5f9.c0324c","type":"openhab-v2-out","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"DiningRoomPowerSwitch_Switch","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1223.9999694824219,"y":1593.999849319458,"wires":[]},{"id":"ae714ef1.41a78","type":"openhab-v2-get","z":"c40739c4.c82958","name":"Get Humidity","controller":"f393b0f9.d7ac8","item":"gHumidity","x":399.8888473510742,"y":1557.7775440216064,"wires":[["d8fb5eb3.3ec7c"]]},{"id":"a95c9dba.56119","type":"ui_chart","z":"c40739c4.c82958","name":"","group":"a981af94.c72be","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":877.138801574707,"y":1691.9605731964111,"wires":[[]]},{"id":"9033ea55.bde3a8","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":365,"wires":[["5f78069a.36d1b8","ba1e73bb.e0afc","f87a9fb0.f29f2","978a2552.41b0e8"]]},{"id":"5f78069a.36d1b8","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"f91e95d4.c06308","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":577.0115661621094,"y":105,"wires":[[],[]]},{"id":"5471fb37.206e94","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":307.0115661621094,"y":205,"wires":[["5f78069a.36d1b8"]]},{"id":"33a2dc72.22a5b4","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":167.01156616210938,"y":205,"wires":[["5471fb37.206e94"]]},{"id":"ba1e73bb.e0afc","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"f91e95d4.c06308","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":577.0115661621094,"y":165,"wires":[[],[]]},{"id":"c38de894.9e7968","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":5,"width":0,"height":0,"passthru":false,"label":"array","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":147.01156616210938,"y":365,"wires":[["9033ea55.bde3a8"]]},{"id":"99798bc2.3ade98","type":"random","z":"7e8f8eaf.f9e88","name":"","low":"1","high":"10000000","inte":"true","x":337.0115661621094,"y":565,"wires":[["5f78069a.36d1b8"]]},{"id":"749d2bc.73ef8d4","type":"inject","z":"7e8f8eaf.f9e88","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":167.01156616210938,"y":565,"wires":[["99798bc2.3ade98"]]},{"id":"b82c044c.7ff848","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":405,"wires":[["5f78069a.36d1b8","ba1e73bb.e0afc","f87a9fb0.f29f2","978a2552.41b0e8"]]},{"id":"71085d9d.6aa184","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":6,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":147.01156616210938,"y":405,"wires":[["b82c044c.7ff848"]]},{"id":"45c279b.ebd9588","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":307.0115661621094,"y":245,"wires":[["5f78069a.36d1b8"]]},{"id":"e061612a.89e1a","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":167.01156616210938,"y":245,"wires":[["45c279b.ebd9588"]]},{"id":"df07c676.96ddf8","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":327.0115661621094,"y":605,"wires":[["978a2552.41b0e8","ba1e73bb.e0afc","5f78069a.36d1b8","9848d404.2a43e8","26cc088e.d619f8","f87a9fb0.f29f2"]]},{"id":"978a2552.41b0e8","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"pie chart","group":"f91e95d4.c06308","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":617.0115661621094,"y":345,"wires":[[],[]]},{"id":"9ee37dad.3e925","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":10,"width":0,"height":0,"passthru":false,"label":"array for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":167.01156616210938,"y":605,"wires":[["df07c676.96ddf8"]]},{"id":"966ccf3e.74b9d","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":307.0115661621094,"y":285,"wires":[["5f78069a.36d1b8"]]},{"id":"4dd3ba8b.6a4534","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":167.01156616210938,"y":285,"wires":[["966ccf3e.74b9d"]]},{"id":"d3572e11.fd15a","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":307.0115661621094,"y":325,"wires":[["5f78069a.36d1b8"]]},{"id":"3aa23f49.1327","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":167.01156616210938,"y":325,"wires":[["d3572e11.fd15a"]]},{"id":"1d4edbea.5a2da4","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":525,"wires":[["5f78069a.36d1b8","ba1e73bb.e0afc","978a2552.41b0e8","9848d404.2a43e8","26cc088e.d619f8","f87a9fb0.f29f2"]]},{"id":"439122c9.b81a0c","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":9,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":157.01156616210938,"y":525,"wires":[["1d4edbea.5a2da4"]]},{"id":"636b4e7c.05c4f","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":11,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":177.01156616210938,"y":645,"wires":[["bc326d39.d3f16"]]},{"id":"bc326d39.d3f16","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":327.0115661621094,"y":645,"wires":[["978a2552.41b0e8","ba1e73bb.e0afc","26cc088e.d619f8","9848d404.2a43e8","5f78069a.36d1b8","f87a9fb0.f29f2"]]},{"id":"a312f8f8.f45578","type":"function","z":"7e8f8eaf.f9e88","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":307.0115661621094,"y":165,"wires":[["ba1e73bb.e0afc","978a2552.41b0e8","5f78069a.36d1b8","f87a9fb0.f29f2","b4cdfc73.a1acf"]]},{"id":"76a6fed3.96225","type":"inject","z":"7e8f8eaf.f9e88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.01156616210938,"y":165,"wires":[["a312f8f8.f45578"]]},{"id":"87a8d8a4.b1bfb8","type":"function","z":"7e8f8eaf.f9e88","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":307.0115661621094,"y":125,"wires":[["ba1e73bb.e0afc","978a2552.41b0e8","5f78069a.36d1b8","f87a9fb0.f29f2"]]},{"id":"5cf5e15c.9a893","type":"inject","z":"7e8f8eaf.f9e88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.01156616210938,"y":125,"wires":[["87a8d8a4.b1bfb8"]]},{"id":"c7fa7239.86528","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":445,"wires":[["ba1e73bb.e0afc","9848d404.2a43e8","26cc088e.d619f8","5f78069a.36d1b8","f87a9fb0.f29f2","978a2552.41b0e8"]]},{"id":"bd5fbc4c.e3657","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":7,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":157.01156616210938,"y":445,"wires":[["c7fa7239.86528"]]},{"id":"41dc4277.b186ac","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":485,"wires":[["ba1e73bb.e0afc","5f78069a.36d1b8","26cc088e.d619f8","9848d404.2a43e8","f87a9fb0.f29f2","978a2552.41b0e8"]]},{"id":"61d3413b.3faf6","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":8,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":157.01156616210938,"y":485,"wires":[["41dc4277.b186ac"]]},{"id":"f87a9fb0.f29f2","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"39147d26.addc72","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":597.0115661621094,"y":225,"wires":[[],[]]},{"id":"9848d404.2a43e8","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"39147d26.addc72","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":627.0115661621094,"y":465,"wires":[[],[]]},{"id":"26cc088e.d619f8","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"39147d26.addc72","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":627.0115661621094,"y":525,"wires":[[],[]]},{"id":"dc7ec6c6.180b38","type":"function","z":"7e8f8eaf.f9e88","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":307.0115661621094,"y":85,"wires":[["978a2552.41b0e8","ba1e73bb.e0afc","5f78069a.36d1b8","f87a9fb0.f29f2"]]},{"id":"cce2546c.d4ec38","type":"inject","z":"7e8f8eaf.f9e88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.01156616210938,"y":85,"wires":[["dc7ec6c6.180b38"]]},{"id":"9d3a471b.b08148","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":297.0115661621094,"y":45,"wires":[["26cc088e.d619f8","9848d404.2a43e8","978a2552.41b0e8","f87a9fb0.f29f2","ba1e73bb.e0afc","5f78069a.36d1b8"]]},{"id":"b4cdfc73.a1acf","type":"debug","z":"7e8f8eaf.f9e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":671.2546691894531,"y":50.22453308105469,"wires":[]},{"id":"7de3607f.c75e3","type":"change","z":"c40739c4.c82958","name":"Set TOPIC power","rules":[{"t":"set","p":"topic","pt":"msg","to":"Power","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"Power","tot":"str"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":599.4306030273438,"y":1779.8033237457275,"wires":[["a95c9dba.56119"]]},{"id":"7552bb2.5a06644","type":"change","z":"c40739c4.c82958","name":"Set TOPIC humidity","rules":[{"t":"set","p":"topic","pt":"msg","to":"Humidity","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"Humidity","tot":"str"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":606.766975402832,"y":1731.2681350708008,"wires":[["a95c9dba.56119"]]},{"id":"eafcdbf7.432cd8","type":"openhab-v2-get","z":"c40739c4.c82958","name":"Get Power","controller":"f393b0f9.d7ac8","item":"DiningRoomPowerSwitch_ElectricMeterKWh","x":228.00946807861328,"y":1839.6015663146973,"wires":[[]]},{"id":"2f964f58.afccd","type":"change","z":"c40739c4.c82958","name":"Convert to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":219.4444351196289,"y":1781.657392501831,"wires":[["35353848.5fb6b8"]]},{"id":"8bc02f20.79f75","type":"ui_button","z":"c40739c4.c82958","name":"","group":"6a8659aa.eab2f8","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":652.6781387329102,"y":1692.4722385406494,"wires":[["a95c9dba.56119"]]},{"id":"389088e0.35c058","type":"change","z":"c40739c4.c82958","name":"Set TOPIC target","rules":[{"t":"set","p":"topic","pt":"msg","to":"Target","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"Target","tot":"str"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload","pt":"msg","to":"gHum","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":595.7893295288086,"y":1656.6945476531982,"wires":[["a95c9dba.56119"]]},{"id":"2d92aecc.4be322","type":"ui_button","z":"c40739c4.c82958","name":"","group":"6a8659aa.eab2f8","order":11,"width":0,"height":0,"passthru":false,"label":"Inject Timestamp","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":137.55554962158203,"y":1555.694465637207,"wires":[["ae714ef1.41a78","389088e0.35c058","4c8d07ae.3a4dc8"]]},{"id":"4c8d07ae.3a4dc8","type":"openhab-v2-get","z":"c40739c4.c82958","name":"Get Power","controller":"f393b0f9.d7ac8","item":"DiningRoomPowerSwitch_ElectricMeterWatts","x":238.01155853271484,"y":1682.8426151275635,"wires":[["2f964f58.afccd"]]},{"id":"a92b6fa7.faeb7","type":"function","z":"c40739c4.c82958","name":"calculate interval power","func":"var PastPower =flow.get('fPastPower') || parseFloat(msg.payload.state);\nvar CurrentPower = parseFloat(msg.payload.state);\nvar Difference = CurrentPower.toFixed(1)-PastPower.toFixed(1); \n//msg.topic = \"Target\";\n//msg.label = \"Target\"\nflow.set('fPastPower',CurrentPower);\nnode.status({fill:\"green\",shape:\"rinmg\",text:\"Past Power \"+PastPower+\"Curpower: \"+CurrentPower+\" dif \"+Difference});\nmsg.payload = Difference.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":479.0856170654297,"y":1836.5092639923096,"wires":[[]]},{"id":"35353848.5fb6b8","type":"range","z":"c40739c4.c82958","minin":"50","maxin":"75","minout":"0","maxout":"30","action":"clamp","round":false,"property":"payload","name":"","x":407.8078422546387,"y":1780.7820568084717,"wires":[["7de3607f.c75e3"]]},{"id":"bdb62558.43df18","type":"openhab-v2-in","z":"c40739c4.c82958","name":"Ground Motion","controller":"f393b0f9.d7ac8","item":"GroundMotion_HK","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":135.25232315063477,"y":105.87259483337402,"wires":[["e98be045.f62d8","a7e96d12.aab99","d14b18b2.734728"],[]]},{"id":"319d2a4e.c8ff06","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"AstroMoonData_Rise_StartTime","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":183.25464630126953,"y":226.2476749420166,"wires":[["796dd7c8.b13a88"],[]]},{"id":"75d2ebf4.7d7304","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"AstroMoonData_Phase_MoonPhaseName","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":210.2523193359375,"y":329.24538803100586,"wires":[["bdc15de0.eddae"],[]]},{"id":"db63733e.7dbe","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"AstroMoonData_Set_EndTime","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":179.01390075683594,"y":278.78466987609863,"wires":[["705d64b1.d82b4c"],[]]},{"id":"1cbcfb64.fdac85","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"AstroMoonData_Position_Azimuth","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":191.01156616210938,"y":385.02777099609375,"wires":[["dbfb7c84.7f6d8"],[]]},{"id":"c54a3c05.66652","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"AstroMoonData_Phase_MoonIllumination","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":210.01156616210938,"y":439.02777099609375,"wires":[["feb4e6aa.26a208"],[]]},{"id":"12f26596.f6aa0a","type":"openhab-v2-in","z":"c40739c4.c82958","name":"average Temp","controller":"f393b0f9.d7ac8","item":"gTemps","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":130,"y":565,"wires":[["34f962de.a1a7be"],[]]},{"id":"1eac3593.09637a","type":"openhab-v2-in","z":"c40739c4.c82958","name":"Alarm","controller":"f393b0f9.d7ac8","item":"gAlarm","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":117,"y":625,"wires":[[],[]]},{"id":"25555252.f0b39e","type":"openhab-v2-in","z":"c40739c4.c82958","name":"bedroom motion","controller":"f393b0f9.d7ac8","item":"BedroomMotion_HK","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":156,"y":690.0000867843628,"wires":[["28a5261c.acb82a","d3574daf.e5dfb","e42064d8.a9cf38"],[]]},{"id":"6d761ead.b1531","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"AstroMoonData_Rise_StartTime","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":732,"y":216.44444465637207,"wires":[["d72341c4.b92b1"],[]]},{"id":"171a36bf.5ba259","type":"openhab-v2-in","z":"c40739c4.c82958","name":"upstairs Temp","controller":"f393b0f9.d7ac8","item":"UpstairsTemperature_HK","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":124,"y":506.66668033599854,"wires":[["34f962de.a1a7be"],[]]},{"id":"fc7ba10c.32ecb","type":"openhab-v2-in","z":"c40739c4.c82958","name":"Harmony Hub","controller":"f393b0f9.d7ac8","item":"HarmonyHubHarmonyHub_","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":167,"y":978.0000076293945,"wires":[["f71c6bc6.1f26f8"],[]]},{"id":"60b03318.42f21c","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"Home_Away","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":true,"x":129.38888549804688,"y":59,"wires":[["37b5de08.03a6e2","ce86852.08c3a78"],[]]},{"id":"d4076691.c56e78","type":"openhab-v2-in","z":"c40739c4.c82958","name":"Kitchen Door","controller":"f393b0f9.d7ac8","item":"KitchenDoor_HK","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":127,"y":161,"wires":[["1058784.579ea88"],[]]},{"id":"d08cb2c8.a6ed9","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"AstroSunData_Phase_SunPhaseName","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":234,"y":1079.662073135376,"wires":[["6563139c.c7ae4c","b28c2330.25d4c"],[]]},{"id":"5288c351.8d1e8c","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"DiningRoomPowerSwitch_Switch","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":203.25233459472656,"y":1486.810128211975,"wires":[["fd03f6c7.8e1818"],[]]},{"id":"32f8d65d.be700a","type":"debug","z":"5409cc4e.c3ab64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":537.2500305175781,"y":137.18055725097656,"wires":[]}]