flows_openHABianPi.json.BAD
[{"id":"7e8f8eaf.f9e88","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"c40739c4.c82958","type":"tab","label":"OpenHab Rules","disabled":false,"info":""},{"id":"5409cc4e.c3ab64","type":"tab","label":"Harmony","disabled":false,"info":""},{"id":"2bb7ac6d.9c8bc4","type":"tab","label":"Motion rules Openhad","disabled":false,"info":""},{"id":"5a8f2842.9eba48","type":"tab","label":"Cloud Services","disabled":false,"info":""},{"id":"c7cf9fd7.82b16","type":"openhab2-controller","z":"","name":"OpenHabPi","protocol":"http","host":"localhost","port":"8080","path":"","username":"openhabian","password":"zenguru5!!"},{"id":"6a8659aa.eab2f8","type":"ui_group","z":"","name":"openhab","tab":"2ccc7703.df0308","disp":true,"width":"6","collapse":false},{"id":"2ccc7703.df0308","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"aebc19d2.3d6c88","type":"ui_group","z":"","name":"Sun and Moon","tab":"2ccc7703.df0308","disp":true,"width":"6","collapse":false},{"id":"1f5c2f3b.38a5c1","type":"harmony-server","z":"","name":"harmony","ip":"192.168.0.143"},{"id":"902a7844.040238","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a981af94.c72be","type":"ui_group","z":"","name":"Humidity","tab":"2ccc7703.df0308","disp":true,"width":"12","collapse":false},{"id":"f91e95d4.c06308","type":"ui_group","z":"","name":"Charts","tab":"8380c1d1.5718","order":2,"disp":false,"width":"6"},{"id":"52f9c56e.e6b50c","type":"ui_group","z":"","name":"Inputs","tab":"8380c1d1.5718","order":1,"disp":false,"width":"6"},{"id":"39147d26.addc72","type":"ui_group","z":"","name":"Group 3","tab":"8380c1d1.5718","order":3,"disp":false,"width":"6"},{"id":"8380c1d1.5718","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"7d61d6aa.8fe2c8","type":"alexa-remote-account","z":"","name":"","authMethod":"proxy","proxyOwnIp":"localhost","proxyPort":"3456","cookieFile":"","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"f393b0f9.d7ac8","type":"openhab-v2-controller","z":0,"name":"openhab","protocol":"http","host":"localhost","port":"8080","path":"","username":"openhabian","password":"zenguru5!!","allowRawEvents":true},{"id":"796dd7c8.b13a88","type":"ui_text","z":"c40739c4.c82958","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon rise","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":980,"y":80,"wires":[]},{"id":"bdc15de0.eddae","type":"ui_text","z":"c40739c4.c82958","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon phase","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":990,"y":200,"wires":[]},{"id":"a168d9e.6ab5028","type":"ui_text","z":"c40739c4.c82958","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon asmith","format":"{{msg.payload | number:2}}&deg","layout":"row-spread","x":990,"y":260,"wires":[]},{"id":"c172d4ed.894c18","type":"ui_text","z":"c40739c4.c82958","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon illumination","format":"{{msg.payload | number:0}}%","layout":"row-spread","x":1010,"y":320,"wires":[]},{"id":"705d64b1.d82b4c","type":"ui_text","z":"c40739c4.c82958","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"moon set","format":"{{msg.payload | date:'EEE hh:mm:ss a - Z'}}","layout":"row-spread","x":980,"y":140,"wires":[]},{"id":"dbfb7c84.7f6d8","type":"change","z":"c40739c4.c82958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($substring(payload,0,$length(payload)-2) )\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["a168d9e.6ab5028"]]},{"id":"feb4e6aa.26a208","type":"change","z":"c40739c4.c82958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($substring(payload,0,$length(payload)-2) )\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["c172d4ed.894c18"]]},{"id":"4003126e.c695bc","type":"H observe","z":"5409cc4e.c3ab64","name":"","server":"1f5c2f3b.38a5c1","x":203.00000762939453,"y":84.99999809265137,"wires":[["32f8d65d.be700a"]]},{"id":"6563139c.c7ae4c","type":"ui_text","z":"c40739c4.c82958","group":"aebc19d2.3d6c88","order":1,"width":0,"height":0,"name":"","label":"day phase","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":990,"y":380,"wires":[]},{"id":"8cdd2140.a37a","type":"ui_text","z":"c40739c4.c82958","group":"a981af94.c72be","order":1,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":731,"y":1696,"wires":[]},{"id":"2b5e67f5.965198","type":"ui_slider","z":"c40739c4.c82958","name":"HumTarget","label":"slider","tooltip":"","group":"a981af94.c72be","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"40","max":"70","step":1,"x":415,"y":1432.9999227523804,"wires":[["c29684c1.50b0d8"]]},{"id":"1ac688d6.11ff37","type":"ui_text","z":"c40739c4.c82958","group":"a981af94.c72be","order":1,"width":0,"height":0,"name":"","label":"Humidity Target","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":1280,"y":1428,"wires":[]},{"id":"cabd3d17.1f847","type":"inject","z":"c40739c4.c82958","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":150.88888549804688,"y":1587.6667098999023,"wires":[["ae714ef1.41a78","389088e0.35c058","4c8d07ae.3a4dc8"]]},{"id":"68a24b72.4a8b24","type":"switch","z":"c40739c4.c82958","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"gHum","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":1560,"wires":[["459336b1.ebfa48"],["3083c9b7.930456"]]},{"id":"c29684c1.50b0d8","type":"function","z":"c40739c4.c82958","name":"set global Humidity","func":"var HumTarget=global.get('gHum') || 55;\nHumTarget = msg.payload;\nmsg.topic = \"Target\";\nmsg.label = \"Target\"\nglobal.set('gHum',HumTarget);\nnode.status({fill:\"green\",shape:\"rinmg\",text:\"state: \"+HumTarget});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1428,"wires":[["1ac688d6.11ff37"]]},{"id":"459336b1.ebfa48","type":"change","z":"c40739c4.c82958","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1540,"wires":[["5b0eb5f9.c0324c"]]},{"id":"3083c9b7.930456","type":"change","z":"c40739c4.c82958","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1580,"wires":[["5b0eb5f9.c0324c"]]},{"id":"d8fb5eb3.3ec7c","type":"change","z":"c40739c4.c82958","name":"Convert to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1740,"wires":[["68a24b72.4a8b24","7552bb2.5a06644","8cdd2140.a37a"]]},{"id":"9dcdfd8c.80628","type":"inject","z":"c40739c4.c82958","name":"","topic":"","payload":"45","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1434,"wires":[["2b5e67f5.965198"]]},{"id":"fd03f6c7.8e1818","type":"ui_text","z":"c40739c4.c82958","group":"a981af94.c72be","order":1,"width":0,"height":0,"name":"","label":"dehumidifier","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":635.0856094360352,"y":1479.0278224945068,"wires":[]},{"id":"a95c9dba.56119","type":"ui_chart","z":"c40739c4.c82958","name":"","group":"a981af94.c72be","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1250,"y":1704,"wires":[[]]},{"id":"9033ea55.bde3a8","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":365,"wires":[["5f78069a.36d1b8","ba1e73bb.e0afc","f87a9fb0.f29f2","978a2552.41b0e8"]]},{"id":"5f78069a.36d1b8","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"f91e95d4.c06308","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":577.0115661621094,"y":105,"wires":[[],[]]},{"id":"5471fb37.206e94","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":307.0115661621094,"y":205,"wires":[["5f78069a.36d1b8"]]},{"id":"33a2dc72.22a5b4","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":167.01156616210938,"y":205,"wires":[["5471fb37.206e94"]]},{"id":"ba1e73bb.e0afc","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"f91e95d4.c06308","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":577.0115661621094,"y":165,"wires":[[],[]]},{"id":"c38de894.9e7968","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":5,"width":0,"height":0,"passthru":false,"label":"array","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":147.01156616210938,"y":365,"wires":[["9033ea55.bde3a8"]]},{"id":"99798bc2.3ade98","type":"random","z":"7e8f8eaf.f9e88","name":"","low":"1","high":"10000000","inte":"true","x":337.0115661621094,"y":565,"wires":[["5f78069a.36d1b8"]]},{"id":"749d2bc.73ef8d4","type":"inject","z":"7e8f8eaf.f9e88","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":167.01156616210938,"y":565,"wires":[["99798bc2.3ade98"]]},{"id":"b82c044c.7ff848","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":405,"wires":[["5f78069a.36d1b8","ba1e73bb.e0afc","f87a9fb0.f29f2","978a2552.41b0e8"]]},{"id":"71085d9d.6aa184","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":6,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":147.01156616210938,"y":405,"wires":[["b82c044c.7ff848"]]},{"id":"45c279b.ebd9588","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":307.0115661621094,"y":245,"wires":[["5f78069a.36d1b8"]]},{"id":"e061612a.89e1a","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":167.01156616210938,"y":245,"wires":[["45c279b.ebd9588"]]},{"id":"df07c676.96ddf8","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":327.0115661621094,"y":605,"wires":[["978a2552.41b0e8","ba1e73bb.e0afc","5f78069a.36d1b8","9848d404.2a43e8","26cc088e.d619f8","f87a9fb0.f29f2"]]},{"id":"978a2552.41b0e8","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"pie chart","group":"f91e95d4.c06308","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":617.0115661621094,"y":345,"wires":[[],[]]},{"id":"9ee37dad.3e925","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":10,"width":0,"height":0,"passthru":false,"label":"array for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":167.01156616210938,"y":605,"wires":[["df07c676.96ddf8"]]},{"id":"966ccf3e.74b9d","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":307.0115661621094,"y":285,"wires":[["5f78069a.36d1b8"]]},{"id":"4dd3ba8b.6a4534","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":167.01156616210938,"y":285,"wires":[["966ccf3e.74b9d"]]},{"id":"d3572e11.fd15a","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":307.0115661621094,"y":325,"wires":[["5f78069a.36d1b8"]]},{"id":"3aa23f49.1327","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":167.01156616210938,"y":325,"wires":[["d3572e11.fd15a"]]},{"id":"1d4edbea.5a2da4","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":525,"wires":[["5f78069a.36d1b8","ba1e73bb.e0afc","978a2552.41b0e8","9848d404.2a43e8","26cc088e.d619f8","f87a9fb0.f29f2"]]},{"id":"439122c9.b81a0c","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":9,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":157.01156616210938,"y":525,"wires":[["1d4edbea.5a2da4"]]},{"id":"636b4e7c.05c4f","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":11,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":177.01156616210938,"y":645,"wires":[["bc326d39.d3f16"]]},{"id":"bc326d39.d3f16","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":327.0115661621094,"y":645,"wires":[["978a2552.41b0e8","ba1e73bb.e0afc","26cc088e.d619f8","9848d404.2a43e8","5f78069a.36d1b8","f87a9fb0.f29f2"]]},{"id":"a312f8f8.f45578","type":"function","z":"7e8f8eaf.f9e88","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":307.0115661621094,"y":165,"wires":[["ba1e73bb.e0afc","978a2552.41b0e8","5f78069a.36d1b8","f87a9fb0.f29f2","b4cdfc73.a1acf"]]},{"id":"76a6fed3.96225","type":"inject","z":"7e8f8eaf.f9e88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.01156616210938,"y":165,"wires":[["a312f8f8.f45578"]]},{"id":"87a8d8a4.b1bfb8","type":"function","z":"7e8f8eaf.f9e88","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":307.0115661621094,"y":125,"wires":[["ba1e73bb.e0afc","978a2552.41b0e8","5f78069a.36d1b8","f87a9fb0.f29f2"]]},{"id":"5cf5e15c.9a893","type":"inject","z":"7e8f8eaf.f9e88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.01156616210938,"y":125,"wires":[["87a8d8a4.b1bfb8"]]},{"id":"c7fa7239.86528","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":445,"wires":[["ba1e73bb.e0afc","9848d404.2a43e8","26cc088e.d619f8","5f78069a.36d1b8","f87a9fb0.f29f2","978a2552.41b0e8"]]},{"id":"bd5fbc4c.e3657","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":7,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":157.01156616210938,"y":445,"wires":[["c7fa7239.86528"]]},{"id":"41dc4277.b186ac","type":"function","z":"7e8f8eaf.f9e88","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":307.0115661621094,"y":485,"wires":[["ba1e73bb.e0afc","5f78069a.36d1b8","26cc088e.d619f8","9848d404.2a43e8","f87a9fb0.f29f2","978a2552.41b0e8"]]},{"id":"61d3413b.3faf6","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":8,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":157.01156616210938,"y":485,"wires":[["41dc4277.b186ac"]]},{"id":"f87a9fb0.f29f2","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"39147d26.addc72","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":597.0115661621094,"y":225,"wires":[[],[]]},{"id":"9848d404.2a43e8","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"39147d26.addc72","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":627.0115661621094,"y":465,"wires":[[],[]]},{"id":"26cc088e.d619f8","type":"ui_chart","z":"7e8f8eaf.f9e88","name":"","group":"39147d26.addc72","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":627.0115661621094,"y":525,"wires":[[],[]]},{"id":"dc7ec6c6.180b38","type":"function","z":"7e8f8eaf.f9e88","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":307.0115661621094,"y":85,"wires":[["978a2552.41b0e8","ba1e73bb.e0afc","5f78069a.36d1b8","f87a9fb0.f29f2"]]},{"id":"cce2546c.d4ec38","type":"inject","z":"7e8f8eaf.f9e88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.01156616210938,"y":85,"wires":[["dc7ec6c6.180b38"]]},{"id":"9d3a471b.b08148","type":"ui_button","z":"7e8f8eaf.f9e88","name":"","group":"52f9c56e.e6b50c","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":297.0115661621094,"y":45,"wires":[["26cc088e.d619f8","9848d404.2a43e8","978a2552.41b0e8","f87a9fb0.f29f2","ba1e73bb.e0afc","5f78069a.36d1b8"]]},{"id":"b4cdfc73.a1acf","type":"debug","z":"7e8f8eaf.f9e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":671.2546691894531,"y":50.22453308105469,"wires":[]},{"id":"7de3607f.c75e3","type":"change","z":"c40739c4.c82958","name":"Set TOPIC power","rules":[{"t":"set","p":"topic","pt":"msg","to":"Power","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"Power","tot":"str"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1780,"wires":[["a95c9dba.56119"]]},{"id":"7552bb2.5a06644","type":"change","z":"c40739c4.c82958","name":"Set TOPIC humidity","rules":[{"t":"set","p":"topic","pt":"msg","to":"Humidity","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"Humidity","tot":"str"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1735,"wires":[["a95c9dba.56119"]]},{"id":"2f964f58.afccd","type":"change","z":"c40739c4.c82958","name":"Convert to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.state)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1780,"wires":[["35353848.5fb6b8"]]},{"id":"8bc02f20.79f75","type":"ui_button","z":"c40739c4.c82958","name":"","group":"6a8659aa.eab2f8","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":900,"y":1691,"wires":[["a95c9dba.56119"]]},{"id":"389088e0.35c058","type":"change","z":"c40739c4.c82958","name":"Set TOPIC target","rules":[{"t":"set","p":"topic","pt":"msg","to":"Target","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"Target","tot":"str"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload","pt":"msg","to":"gHum","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1648,"wires":[["a95c9dba.56119"]]},{"id":"2d92aecc.4be322","type":"ui_button","z":"c40739c4.c82958","name":"","group":"6a8659aa.eab2f8","order":11,"width":0,"height":0,"passthru":false,"label":"Inject Timestamp","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":170,"y":1547,"wires":[["ae714ef1.41a78","389088e0.35c058","4c8d07ae.3a4dc8"]]},{"id":"35353848.5fb6b8","type":"range","z":"c40739c4.c82958","minin":"50","maxin":"75","minout":"0","maxout":"30","action":"clamp","round":false,"property":"payload","name":"","x":610,"y":1780,"wires":[["7de3607f.c75e3"]]},{"id":"32f8d65d.be700a","type":"debug","z":"5409cc4e.c3ab64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":613.2499160766602,"y":398.18054389953613,"wires":[]},{"id":"54c4e683.73b248","type":"inject","z":"5409cc4e.c3ab64","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105.24769592285156,"y":246.20834350585938,"wires":[["cefa5dbc.f4edd"]]},{"id":"b49f80d9.15a87","type":"H command","z":"5409cc4e.c3ab64","name":"","server":"1f5c2f3b.38a5c1","activity":null,"label":"","command":null,"repeat":"1","x":161.254638671875,"y":460.9537353515625,"wires":[[]]},{"id":"cefa5dbc.f4edd","type":"H activity","z":"5409cc4e.c3ab64","name":"netfix","server":"1f5c2f3b.38a5c1","activity":"39628943","label":"Watch Netfix","x":355.25000381469727,"y":258.9374990463257,"wires":[["32f8d65d.be700a"]]},{"id":"6e78a6e1.1ff3c8","type":"H activity","z":"5409cc4e.c3ab64","name":"off","server":"1f5c2f3b.38a5c1","activity":"-1","label":"PowerOff","x":358.25231552124023,"y":319.9328899383545,"wires":[["32f8d65d.be700a"]]},{"id":"e9ea9588.8ad3f8","type":"inject","z":"5409cc4e.c3ab64","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101.01155853271484,"y":326.02776050567627,"wires":[["6e78a6e1.1ff3c8"]]},{"id":"5c6ec5fb.49d51c","type":"alexa-remote-event","z":"5409cc4e.c3ab64","name":"","account":"7d61d6aa.8fe2c8","event":"ws-device-activity","x":284.2523193359375,"y":525.8958511352539,"wires":[["32f8d65d.be700a"]]},{"id":"c15964e3.e2c298","type":"wiotp out","z":"5409cc4e.c3ab64","authType":"d","qs":"true","qsDeviceId":"c15964e3.e2c298","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":625.2522621154785,"y":598.5579471588135,"wires":[]},{"id":"1ebf9ce8.f513d3","type":"bigtimer","z":"c40739c4.c82958","outtopic":"","outpayload1":"","outpayload2":"","name":"on dusk off 9pm","comment":"","lat":"8.716667","lon":"167.733333","starttime":5001,"endtime":"1260","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"ON","outtext2":"OFF","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":140,"y":460,"wires":[[],["57418f07.c0149","40769b5.432ed64"],[]]},{"id":"27616203.7efdee","type":"openhab-v2-events","z":"5409cc4e.c3ab64","name":"","controller":"f393b0f9.d7ac8","items":[""],"ohCompatibleTimestamp":false,"x":325.2477111816406,"y":605.5138931274414,"wires":[["c15964e3.e2c298","32f8d65d.be700a"]]},{"id":"319d2a4e.c8ff06","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"AstroMoonData_Rise_StartTime","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":190,"y":80,"wires":[["796dd7c8.b13a88"],[]]},{"id":"75d2ebf4.7d7304","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"AstroMoonData_Phase_MoonPhaseName","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":220,"y":200,"wires":[["bdc15de0.eddae"],[]]},{"id":"db63733e.7dbe","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"AstroMoonData_Set_EndTime","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":180,"y":140,"wires":[["705d64b1.d82b4c"],[]]},{"id":"1cbcfb64.fdac85","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"AstroMoonData_Position_Azimuth","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":200,"y":260,"wires":[["dbfb7c84.7f6d8"],[]]},{"id":"c54a3c05.66652","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"AstroMoonData_Phase_MoonIllumination","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":220,"y":320,"wires":[["feb4e6aa.26a208"],[]]},{"id":"d08cb2c8.a6ed9","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"AstroSunData_Phase_SunPhaseName","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":210,"y":380,"wires":[["6563139c.c7ae4c"],[]]},{"id":"5288c351.8d1e8c","type":"openhab-v2-in","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"DiningRoomPowerSwitch_Switch","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":208.25233459472656,"y":1486.810128211975,"wires":[["fd03f6c7.8e1818"],[]]},{"id":"57418f07.c0149","type":"openhab-v2-out","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"YardOutlet_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1000,"y":460,"wires":[]},{"id":"5b0eb5f9.c0324c","type":"openhab-v2-out","z":"c40739c4.c82958","name":"","controller":"f393b0f9.d7ac8","item":"DiningRoomPowerSwitch_Switch","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1340,"y":1560,"wires":[]},{"id":"ae714ef1.41a78","type":"openhab-v2-get","z":"c40739c4.c82958","name":"Get Humidity","controller":"f393b0f9.d7ac8","item":"gHumidity","x":410,"y":1660,"wires":[["d8fb5eb3.3ec7c"]]},{"id":"4c8d07ae.3a4dc8","type":"openhab-v2-get","z":"c40739c4.c82958","name":"Get Power","controller":"f393b0f9.d7ac8","item":"DiningRoomPowerSwitch_ElectricMeterWatts","x":150,"y":1780,"wires":[["2f964f58.afccd"]]},{"id":"e0ba5848.8e73c8","type":"ui_text","z":"2bb7ac6d.9c8bc4","group":"6a8659aa.eab2f8","order":1,"width":0,"height":0,"name":"","label":"bedroom motion","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":1020,"y":100,"wires":[]},{"id":"fc9a460f.3fce28","type":"stoptimer","z":"2bb7ac6d.9c8bc4","duration":"120","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":591,"y":223.111083984375,"wires":[["f80b6049.7f407","190207c6.7f4a88"],[]]},{"id":"d2a2619d.32418","type":"switch","z":"2bb7ac6d.9c8bc4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":351,"y":143.111083984375,"wires":[["190207c6.7f4a88","f80b6049.7f407","3c53c1d.21d433e"],["fc9a460f.3fce28"]]},{"id":"df7597e2.bbd918","type":"openhab-v2-in","z":"2bb7ac6d.9c8bc4","name":"bedroom motion","controller":"f393b0f9.d7ac8","item":"BedroomMotion_HK","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":true,"x":160,"y":100,"wires":[["e0ba5848.8e73c8","3c53c1d.21d433e","d2a2619d.32418"],[]]},{"id":"3c53c1d.21d433e","type":"openhab-v2-out","z":"2bb7ac6d.9c8bc4","name":"","controller":"f393b0f9.d7ac8","item":"Zooz_Port_1_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1027.388916015625,"y":152.33331298828125,"wires":[]},{"id":"f80b6049.7f407","type":"openhab-v2-out","z":"2bb7ac6d.9c8bc4","name":"","controller":"f393b0f9.d7ac8","item":"Zoo_Port_5_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1023,"y":254.111083984375,"wires":[]},{"id":"190207c6.7f4a88","type":"openhab-v2-out","z":"2bb7ac6d.9c8bc4","name":"","controller":"f393b0f9.d7ac8","item":"Zoo_Port_4_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1019,"y":205.111083984375,"wires":[]},{"id":"343cafa1.7f7a6","type":"openhab-v2-in","z":"2bb7ac6d.9c8bc4","name":"Alarm","controller":"f393b0f9.d7ac8","item":"gAlarm","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":130,"y":40,"wires":[[],[]]},{"id":"7004fc60.e07994","type":"ui_text","z":"2bb7ac6d.9c8bc4","group":"6a8659aa.eab2f8","order":1,"width":0,"height":0,"name":"","label":"alarm","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":360,"wires":[]},{"id":"371f19ea.546156","type":"change","z":"2bb7ac6d.9c8bc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Ground Floor Motion set to \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[["26f3b296.d896ee","4b172c6e.a4d944"]]},{"id":"5b135838.b62908","type":"change","z":"2bb7ac6d.9c8bc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Kitchen door is \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["26f3b296.d896ee","4b172c6e.a4d944"]]},{"id":"26f3b296.d896ee","type":"function","z":"2bb7ac6d.9c8bc4","name":"Drop Voice if Home","func":"var HomeState=global.get('gHome') ;\n\nif (HomeState == \"HOME\")\n   {\n       msg.payload =\"\";\n       node.status({fill:\"red\",shape:\"ring\",text:\"Voice Messages off\"});\n   }\nelse\n   {\n       node.status({fill:\"green\",shape:\"dot\",text:\"Voice Messages ON  \" + HomeState});\n   }\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":460,"wires":[["86d19a8f.a0e208","a57cf392.d1a7c"]]},{"id":"4b172c6e.a4d944","type":"ui_audio","z":"2bb7ac6d.9c8bc4","name":"","group":"6a8659aa.eab2f8","voice":"en-US","always":true,"x":1000,"y":520,"wires":[]},{"id":"1ebf6d9.1cd1892","type":"openhab-v2-in","z":"2bb7ac6d.9c8bc4","name":"Ground Motion","controller":"f393b0f9.d7ac8","item":"GroundMotion_HK","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":180,"y":320,"wires":[["7004fc60.e07994","ea96cd59.f2ace","371f19ea.546156"],[]]},{"id":"c0a9d514.e9abd8","type":"openhab-v2-in","z":"2bb7ac6d.9c8bc4","name":"Kitchen Door","controller":"f393b0f9.d7ac8","item":"KitchenDoor_HK","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":150,"y":520,"wires":[["5b135838.b62908"],[]]},{"id":"86d19a8f.a0e208","type":"openhab-v2-out","z":"2bb7ac6d.9c8bc4","name":"","controller":"f393b0f9.d7ac8","item":"echo_dot_TTS","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1280,"y":440,"wires":[]},{"id":"ea96cd59.f2ace","type":"openhab-v2-out","z":"2bb7ac6d.9c8bc4","name":"","controller":"f393b0f9.d7ac8","item":"LivingroomLamp_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1040,"y":340,"wires":[]},{"id":"a57cf392.d1a7c","type":"openhab-v2-out","z":"2bb7ac6d.9c8bc4","name":"","controller":"f393b0f9.d7ac8","item":"echo_show_TTS","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1290,"y":500,"wires":[]},{"id":"8214487d.f4ab18","type":"openhab-v2-in","z":"2bb7ac6d.9c8bc4","name":"Porch Motion","controller":"f393b0f9.d7ac8","item":"PorchMotion_HK","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":150,"y":580,"wires":[["3f10b43e.a6c95c"],[]]},{"id":"3f10b43e.a6c95c","type":"change","z":"2bb7ac6d.9c8bc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Porch Motion set to \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":580,"wires":[["26f3b296.d896ee","4b172c6e.a4d944"]]},{"id":"8dc165b6.722e78","type":"ui_dropdown","z":"5a8f2842.9eba48","name":"","label":"Home State","tooltip":"","place":"Select option","group":"6a8659aa.eab2f8","order":3,"width":0,"height":0,"passthru":false,"options":[{"label":"HOME","value":"HOME","type":"str"},{"label":"AWAY","value":"AWAY","type":"str"},{"label":"NIGHT","value":"NIGHT","type":"str"}],"payload":"","topic":"","x":530,"y":140,"wires":[["bde4ce79.b8154"]]},{"id":"bde4ce79.b8154","type":"openhab-v2-out","z":"5a8f2842.9eba48","name":"","controller":"f393b0f9.d7ac8","item":"Home_Away","topic":"ItemUpdate","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":970,"y":140,"wires":[]},{"id":"75cb9c8c.669354","type":"openhab-v2-in","z":"5a8f2842.9eba48","name":"","controller":"f393b0f9.d7ac8","item":"Home_Away","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":true,"x":110,"y":100,"wires":[["4e59e90d.9f65f8","8dc165b6.722e78"],[]]},{"id":"4e59e90d.9f65f8","type":"function","z":"5a8f2842.9eba48","name":"set global Home / Away","func":"var HomeState=global.get('gHome') || \"AWAY\";\nHomeState = msg.payload;\nglobal.set('gHome',HomeState);\nnode.status({fill:\"green\",shape:\"ring\",text:\"state: \"+HomeState});\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":100,"wires":[[]]},{"id":"3ff1b00a.cffa7","type":"ui_text","z":"5a8f2842.9eba48","group":"6a8659aa.eab2f8","order":1,"width":0,"height":0,"name":"","label":"Harmony Hub  State","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":990,"y":220,"wires":[]},{"id":"4454bd48.7e23f4","type":"openhab-v2-in","z":"5a8f2842.9eba48","name":"Harmony Hub","controller":"f393b0f9.d7ac8","item":"HarmonyHubHarmonyHub_","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":110,"y":220,"wires":[["3ff1b00a.cffa7"],[]]},{"id":"2d300fe.2f3ebf","type":"inject","z":"c40739c4.c82958","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":680,"wires":[["57418f07.c0149","40769b5.432ed64"]]},{"id":"40769b5.432ed64","type":"debug","z":"c40739c4.c82958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":620,"wires":[]}]