openhab2/flows.bad
[{"id":"91856c49.a1119","type":"tab","label":"OpenHab Rules","disabled":false,"info":""},{"id":"894284f5.f8bbb8","type":"tab","label":"Harmony","disabled":false,"info":""},{"id":"10516998.7773c6","type":"openhab2-controller","z":"","name":"OpenHabPi","protocol":"http","host":"localhost","port":"8080","path":"","username":"openhabian","password":"zenguru5!!"},{"id":"e44ede2c.9eb81","type":"ui_group","z":"","name":"openhab","tab":"356c0837.9f9ab8","disp":true,"width":"6","collapse":false},{"id":"356c0837.9f9ab8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f3cd449c.ca363","type":"ui_group","z":"","name":"Sun and Moon","tab":"356c0837.9f9ab8","disp":true,"width":"6","collapse":false},{"id":"3729c1ae.5a6c8e","type":"harmony-server","z":"","name":"harmony","ip":"192.168.0.143"},{"id":"b908969e.d99fc8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2e1b6f1d.8da87","type":"openhab-v2-controller","z":0,"name":"openhab","protocol":"http","host":"localhost","port":"8080","path":"","username":"openhabian","password":"zenguru5!!","allowRawEvents":true},{"id":"28478961.3224e6","type":"ui_group","z":"","name":"Humidity","tab":"356c0837.9f9ab8","disp":true,"width":"6","collapse":false},{"id":"2344e60b.fa6bba","type":"debug","z":"91856c49.a1119","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":605.254638671875,"y":549.1157379150391,"wires":[]},{"id":"6426b86d.6bad38","type":"ui_text","z":"91856c49.a1119","group":"f3cd449c.ca363","order":1,"width":0,"height":0,"name":"","label":"moon rise","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":514.2523307800293,"y":221.49074172973633,"wires":[]},{"id":"83775be4.a346c8","type":"ui_text","z":"91856c49.a1119","group":"f3cd449c.ca363","order":1,"width":0,"height":0,"name":"","label":"moon phase","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":517.0115356445312,"y":327.0277729034424,"wires":[]},{"id":"cdbea5d1.94f398","type":"ui_text","z":"91856c49.a1119","group":"f3cd449c.ca363","order":1,"width":0,"height":0,"name":"","label":"moon asmith","format":"{{msg.payload | number:2}}&deg","layout":"row-spread","x":789.9998779296875,"y":382.02776622772217,"wires":[]},{"id":"f2d62f32.0e06e","type":"ui_text","z":"91856c49.a1119","group":"f3cd449c.ca363","order":1,"width":0,"height":0,"name":"","label":"moon illumination","format":"{{msg.payload | number:0}}%","layout":"row-spread","x":813.0114288330078,"y":433.02775955200195,"wires":[]},{"id":"928c4983.a4c5c8","type":"ui_text","z":"91856c49.a1119","group":"e44ede2c.9eb81","order":1,"width":0,"height":0,"name":"","label":"alarm","format":"{{msg.payload}}","layout":"row-spread","x":502.01155853271484,"y":63.02777099609375,"wires":[]},{"id":"4343ee01.b0eb","type":"ui_text","z":"91856c49.a1119","group":"f3cd449c.ca363","order":1,"width":0,"height":0,"name":"","label":"moon set","format":"{{msg.payload | date:'EEE hh:mm:ss a - Z'}}","layout":"row-spread","x":517.0115356445312,"y":272.02775287628174,"wires":[]},{"id":"3dd53d3d.0f90d2","type":"change","z":"91856c49.a1119","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($substring(payload,0,$length(payload)-2) )\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":484.51385498046875,"y":377.6921215057373,"wires":[["cdbea5d1.94f398"]]},{"id":"19d2aa72.0c2f46","type":"change","z":"91856c49.a1119","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($substring(payload,0,$length(payload)-2) )\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":523.0115356445312,"y":432.02777099609375,"wires":[["f2d62f32.0e06e"]]},{"id":"934bf754.0a1828","type":"ui_text","z":"91856c49.a1119","group":"e44ede2c.9eb81","order":1,"width":0,"height":0,"name":"","label":"bedroom motion","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":753,"y":685.888916015625,"wires":[]},{"id":"38d48f3b.8683f","type":"stoptimer","z":"91856c49.a1119","duration":"120","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":402.5,"y":824,"wires":[["be5d48.89b312b8","2d86ce41.6c3372"],[]]},{"id":"b8afd4a6.7fc948","type":"inject","z":"91856c49.a1119","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":149.00001525878906,"y":811,"wires":[["3b4303ec.f2d3bc"]]},{"id":"3b4303ec.f2d3bc","type":"switch","z":"91856c49.a1119","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":326.5,"y":727,"wires":[["2d86ce41.6c3372","be5d48.89b312b8","2e38b471.8f30ec"],["38d48f3b.8683f"]]},{"id":"f97fd2c6.b4e8e","type":"change","z":"91856c49.a1119","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Ground Floor Motion set to \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":533.388916015625,"y":101.33332633972168,"wires":[["b1b6a91f.1f27a8"]]},{"id":"e836f98a.9af808","type":"ui_text","z":"91856c49.a1119","group":"f3cd449c.ca363","order":1,"width":0,"height":0,"name":"","label":"moon rise","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":1044.9977416992188,"y":210.68751525878906,"wires":[]},{"id":"869d08a6.1ca338","type":"inject","z":"91856c49.a1119","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":153,"y":854.8889217376709,"wires":[["3b4303ec.f2d3bc"]]},{"id":"ff7908f4.03e298","type":"ui_text","z":"91856c49.a1119","group":"e44ede2c.9eb81","order":1,"width":0,"height":0,"name":"","label":"Harmony Hub  State","format":"{{msg.payload | date:'EEE hh:mm:ss a -Z'}}","layout":"row-spread","x":768,"y":973,"wires":[]},{"id":"da13d4a5.95db18","type":"function","z":"91856c49.a1119","name":"set global Home / Away","func":"var HomeState=global.get('gHome') || \"AWAY\";\nHomeState = msg.payload;\nglobal.set('gHome',HomeState);\nnode.status({fill:\"green\",shape:\"ring\",text:\"state: \"+HomeState});\nreturn msg;","outputs":1,"noerr":0,"x":924.5,"y":20,"wires":[[]]},{"id":"8b6dda5e.063898","type":"change","z":"91856c49.a1119","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Kitchen door is \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":538,"y":183,"wires":[["b1b6a91f.1f27a8"]]},{"id":"b1b6a91f.1f27a8","type":"function","z":"91856c49.a1119","name":"Drop Voice messages if Home","func":"var HomeState=global.get('gHome') ;\n\nif (HomeState == \"HOME\")\n   {\n       msg.payload =\"\";\n       node.status({fill:\"red\",shape:\"ring\",text:\"Voice Messages off\"});\n   }\nelse\n   {\n       node.status({fill:\"green\",shape:\"dot\",text:\"Voice Messages ON  \" + HomeState});\n   }\nreturn msg;","outputs":1,"noerr":0,"x":815,"y":130,"wires":[["b6b958e5.50fb28","b450a5a.f733158"]]},{"id":"b52f553d.71fb78","type":"H command","z":"894284f5.f8bbb8","name":"","activity":"","harmony_type":"","label":"","command":"","repeat":"1","x":368,"y":318,"wires":[[]]},{"id":"4ca8fcde.4208b4","type":"H observe","z":"894284f5.f8bbb8","name":"","server":"3729c1ae.5a6c8e","x":303,"y":141,"wires":[[]]},{"id":"54c3ffb.94f7a","type":"ui_text","z":"91856c49.a1119","group":"f3cd449c.ca363","order":1,"width":0,"height":0,"name":"","label":"day phase","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":723.7592239379883,"y":1074.4444389343262,"wires":[]},{"id":"a0c93b57.e02f38","type":"switch","z":"91856c49.a1119","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"NIGHT","vt":"str"},{"t":"neq","v":"NIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":431.00000381469727,"y":1182.6668376922607,"wires":[["c3abc221.2e137"],["a1086e2b.4072d"]]},{"id":"c3abc221.2e137","type":"change","z":"91856c49.a1119","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640.0000076293945,"y":1173.7778415679932,"wires":[[]]},{"id":"688bcea0.a33cc","type":"inject","z":"91856c49.a1119","name":"","topic":"","payload":"DAY","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":201,"y":1197.77783203125,"wires":[["a0c93b57.e02f38"]]},{"id":"a1086e2b.4072d","type":"change","z":"91856c49.a1119","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":638,"y":1211.77783203125,"wires":[[]]},{"id":"fa851fa5.57273","type":"inject","z":"91856c49.a1119","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"00 13 * * *","once":false,"onceDelay":0.1,"x":196,"y":1253,"wires":[["a0c93b57.e02f38"]]},{"id":"3ffc4208.5fccee","type":"openhab-v2-in","z":"91856c49.a1119","name":"Ground Motion","controller":"2e1b6f1d.8da87","item":"GroundMotion_HK","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":135.25232315063477,"y":105.87259483337402,"wires":[["928c4983.a4c5c8","5f5526a3.ba5d48","f97fd2c6.b4e8e"],[]]},{"id":"105d281d.512a08","type":"openhab-v2-in","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"AstroMoonData_Rise_StartTime","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":183.25464630126953,"y":226.2476749420166,"wires":[["6426b86d.6bad38"],[]]},{"id":"3a075acf.6e80f6","type":"openhab-v2-in","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"AstroMoonData_Phase_MoonPhaseName","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":210.2523193359375,"y":329.24538803100586,"wires":[["83775be4.a346c8"],[]]},{"id":"17a39260.54df2e","type":"openhab-v2-in","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"AstroMoonData_Set_EndTime","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":179.01390075683594,"y":278.78466987609863,"wires":[["4343ee01.b0eb"],[]]},{"id":"e7b0711e.1bc4e","type":"openhab-v2-in","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"AstroMoonData_Position_Azimuth","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":191.01156616210938,"y":385.02777099609375,"wires":[["3dd53d3d.0f90d2"],[]]},{"id":"153ab27e.26d89e","type":"openhab-v2-in","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"AstroMoonData_Phase_MoonIllumination","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":210.01156616210938,"y":439.02777099609375,"wires":[["19d2aa72.0c2f46"],[]]},{"id":"d3388c71.ae8628","type":"openhab-v2-in","z":"91856c49.a1119","name":"average Temp","controller":"2e1b6f1d.8da87","item":"gTemps","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":130,"y":565,"wires":[["2344e60b.fa6bba"],[]]},{"id":"553ea943.d9722","type":"openhab-v2-in","z":"91856c49.a1119","name":"Alarm","controller":"2e1b6f1d.8da87","item":"gAlarm","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":117,"y":625,"wires":[[],[]]},{"id":"b9572afd.dace58","type":"openhab-v2-in","z":"91856c49.a1119","name":"bedroom motion","controller":"2e1b6f1d.8da87","item":"BedroomMotion_HK","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":156,"y":690.0000867843628,"wires":[["934bf754.0a1828","2e38b471.8f30ec","3b4303ec.f2d3bc"],[]]},{"id":"541baaaa.c56d24","type":"openhab-v2-in","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"AstroMoonData_Rise_StartTime","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":732,"y":216.44444465637207,"wires":[["e836f98a.9af808"],[]]},{"id":"da4aba93.ca83b8","type":"openhab-v2-in","z":"91856c49.a1119","name":"upstairs Temp","controller":"2e1b6f1d.8da87","item":"UpstairsTemperature_HK","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":124,"y":506.66668033599854,"wires":[["2344e60b.fa6bba"],[]]},{"id":"3bfa6b8b.0978b4","type":"openhab-v2-in","z":"91856c49.a1119","name":"Harmony Hub","controller":"2e1b6f1d.8da87","item":"HarmonyHubHarmonyHub_","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":167,"y":978.0000076293945,"wires":[["ff7908f4.03e298"],[]]},{"id":"704f3374.3c4d7c","type":"openhab-v2-in","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"Home_Away","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":true,"x":129.38888549804688,"y":59,"wires":[["da13d4a5.95db18","867bd7ab.493e18"],[]]},{"id":"4ff6e23b.2e2bfc","type":"openhab-v2-in","z":"91856c49.a1119","name":"Kitchen Door","controller":"2e1b6f1d.8da87","item":"KitchenDoor_HK","ohCompatibleTimestamp":false,"eventTypes":["ItemCommandEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":127,"y":161,"wires":[["8b6dda5e.063898"],[]]},{"id":"1b5eb323.0bbd0d","type":"openhab-v2-in","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"AstroSunData_Phase_SunPhaseName","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent"],"outputAtStartup":true,"storeStateInFlow":false,"x":234,"y":1079.662073135376,"wires":[["54c3ffb.94f7a","a0c93b57.e02f38"],[]]},{"id":"2e38b471.8f30ec","type":"openhab-v2-out","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"Zooz_Port_1_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":783.3888931274414,"y":624.2221994400024,"wires":[]},{"id":"be5d48.89b312b8","type":"openhab-v2-out","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"Zoo_Port_5_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":780,"y":831,"wires":[]},{"id":"2d86ce41.6c3372","type":"openhab-v2-out","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"Zoo_Port_4_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":779,"y":784,"wires":[]},{"id":"b6b958e5.50fb28","type":"openhab-v2-out","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"echo_dot_TTS","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1045.0000076293945,"y":96,"wires":[]},{"id":"5f5526a3.ba5d48","type":"openhab-v2-out","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"LivingroomLamp_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":545,"y":142.22222137451172,"wires":[]},{"id":"b450a5a.f733158","type":"openhab-v2-out","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"echo_show_TTS","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1051.0000076293945,"y":155.00000095367432,"wires":[]},{"id":"ca4ec233.c9a3e","type":"openhab-v2-out","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"YardOutlet_HK","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":855.0000038146973,"y":1176.5556182861328,"wires":[]},{"id":"867bd7ab.493e18","type":"ui_dropdown","z":"91856c49.a1119","name":"","label":"Home State","tooltip":"","place":"Select option","group":"e44ede2c.9eb81","order":3,"width":0,"height":0,"passthru":false,"options":[{"label":"HOME","value":"HOME","type":"str"},{"label":"AWAY","value":"AWAY","type":"str"},{"label":"NIGHT","value":"NIGHT","type":"str"}],"payload":"","topic":"","x":865,"y":69,"wires":[["8a29f4b9.845488"]]},{"id":"8a29f4b9.845488","type":"openhab-v2-out","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"Home_Away","topic":"ItemUpdate","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1144,"y":40,"wires":[]},{"id":"c552b961.9f3d98","type":"inject","z":"91856c49.a1119","name":"","topic":"","payload":"NIGHT","payloadType":"str","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":209,"y":20,"wires":[["867bd7ab.493e18"]]},{"id":"aeafa3d.63c316","type":"openhab-v2-in","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"gHumidity","ohCompatibleTimestamp":false,"eventTypes":["ItemStateEvent","ItemStateChangedEvent"],"outputAtStartup":true,"storeStateInFlow":true,"x":147,"y":1343,"wires":[["cff2274c.b83728","145f04c8.ce647b"],[]]},{"id":"cff2274c.b83728","type":"ui_text","z":"91856c49.a1119","group":"28478961.3224e6","order":1,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":815,"y":1337,"wires":[]},{"id":"8b19c367.d1c1e","type":"ui_slider","z":"91856c49.a1119","name":"","label":"slider","tooltip":"","group":"28478961.3224e6","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"40","max":"70","step":1,"x":441,"y":1404,"wires":[["285ec0df.b3a09"]]},{"id":"5899213e.0ca12","type":"openhab-v2-out","z":"91856c49.a1119","name":"","controller":"2e1b6f1d.8da87","item":"DiningRoomPowerSwitch_Switch","topic":"ItemCommand","topicType":"oh_cmd","payload":"payload","payloadType":"msg","storeStateInFlow":false,"x":1096.000015258789,"y":1445.0000438690186,"wires":[]},{"id":"4f39506a.dbe1f","type":"ui_text","z":"91856c49.a1119","group":"28478961.3224e6","order":1,"width":0,"height":0,"name":"","label":"Humidity Target","format":"{{msg.payload | lowercase}}","layout":"row-spread","x":975,"y":1403,"wires":[]},{"id":"32845e69.5ebdc2","type":"inject","z":"91856c49.a1119","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":139,"y":1519,"wires":[["4f1a8a6.b1d0174"]]},{"id":"c5863de5.42395","type":"switch","z":"91856c49.a1119","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"gHum","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":626,"y":1594,"wires":[["a3a1d3fc.5bae"],[]]},{"id":"285ec0df.b3a09","type":"function","z":"91856c49.a1119","name":"set global Humidity","func":"var HumTarget=global.get('gHum') || 55;\nHumTarget = msg.payload;\nglobal.set('gHum',HumTarget);\nnode.status({fill:\"green\",shape:\"ring\",text:\"state: \"+HumTarget});\nreturn msg;","outputs":1,"noerr":0,"x":656,"y":1404,"wires":[["4f39506a.dbe1f"]]},{"id":"6c39e9b4.d4ea98","type":"debug","z":"91856c49.a1119","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1121.0000305175781,"y":1674.0000476837158,"wires":[]},{"id":"145f04c8.ce647b","type":"change","z":"91856c49.a1119","name":"Convert to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1516,"wires":[["c5863de5.42395"]]},{"id":"4f1a8a6.b1d0174","type":"openhab-v2-get","z":"91856c49.a1119","name":"Get Humidity","controller":"2e1b6f1d.8da87","item":"gHumidity","x":266,"y":1609,"wires":[["5899213e.0ca12"]]},{"id":"e9d1372d.0056e8","type":"change","z":"91856c49.a1119","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":779.0000305175781,"y":1593.0000591278076,"wires":[["5899213e.0ca12"]]},{"id":"a3a1d3fc.5bae","type":"change","z":"91856c49.a1119","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":779.0000228881836,"y":1553.0000476837158,"wires":[["5899213e.0ca12"]]}]